id,CHN196205290
version,4
info,visteam,MLN
info,hometeam,CHN
info,site,CHI11
info,date,1962/05/29
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,walsf901
info,ump1b,conlj102
info,ump2b,burkk101
info,ump3b,pelec901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/06/03 9:00PM
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,183
info,attendance,3468
info,wp,burdl101
info,lp,buhlb101
info,save,shawb103
info,gwrbi,
start,bellg103,"Gus Bell",0,1,7
start,mcmir101,"Roy McMillan",0,2,6
start,mathe101,"Eddie Mathews",0,3,5
start,aaroh101,"Hank Aaron",0,4,8
start,jonem102,"Mack Jones",0,5,9
start,adcoj101,"Joe Adcock",0,6,3
start,torrj101,"Joe Torre",0,7,2
start,samua101,"Amado Samuel",0,8,4
start,hendb101,"Bob Hendley",0,9,1
start,brocl102,"Lou Brock",1,1,8
start,hubbk101,"Ken Hubbs",1,2,4
start,willb104,"Billy Williams",1,3,7
start,banke101,"Ernie Banks",1,4,3
start,altmg101,"George Altman",1,5,9
start,santr102,"Ron Santo",1,6,5
start,barrc101,"Cuno Barragan",1,7,2
start,rodga101,"Andre Rodgers",1,8,6
start,buhlb101,"Bob Buhl",1,9,1
play,1,0,bellg103,??,,99
play,1,0,mcmir101,??,,99
play,1,0,mathe101,??,,K
play,1,1,brocl102,??,,S
play,1,1,hubbk101,??,,PO1(99)
play,1,1,hubbk101,??,,99
play,1,1,willb104,??,,K
play,2,0,aaroh101,??,,S
play,2,0,jonem102,??,,FC.1X2(99)
play,2,0,adcoj101,??,,HR.1-H
play,2,0,torrj101,??,,HR
play,2,0,samua101,??,,99
play,2,0,hendb101,??,,K
play,2,1,banke101,??,,D
play,2,1,altmg101,??,,99
play,2,1,santr102,??,,99
play,2,1,barrc101,??,,99
play,3,0,bellg103,??,,99
play,3,0,mcmir101,??,,W
play,3,0,mathe101,??,,99
play,3,0,aaroh101,??,,E6.1-2
play,3,0,jonem102,??,,W.2-3;1-2
play,3,0,adcoj101,??,,WP.3-H(UR);2-3;1-2
play,3,0,adcoj101,??,,IW
play,3,0,torrj101,??,,S.3-H(UR);2-H(UR);1-2
play,3,0,samua101,??,,HR.2-H(UR);1-H(UR);B-H(UR)
play,3,0,hendb101,??,,K
play,3,1,rodga101,??,,E5
play,3,1,buhlb101,??,,NP
sub,smitb104,"Bobby Smith",1,9,11
play,3,1,smitb104,??,,K
play,3,1,brocl102,??,,S.1-2
play,3,1,hubbk101,??,,D.2-H(UR);1-H
play,3,1,willb104,??,,99
play,3,1,banke101,??,,HR.2-H(UR);B-H(UR)
play,3,1,altmg101,??,,S
play,3,1,santr102,??,,NP
sub,nottd101,"Don Nottebart",0,9,1
play,3,1,santr102,??,,K
play,4,0,bellg103,??,,NP
sub,balst101,"Tony Balsemo",1,9,1
play,4,0,bellg103,??,,D
play,4,0,mcmir101,??,,99/G.2-3
play,4,0,mathe101,??,,99/G.3-H
play,4,0,aaroh101,??,,99
play,4,1,barrc101,??,,99
play,4,1,rodga101,??,,D
play,4,1,balst101,??,,99
play,4,1,brocl102,??,,K
play,5,0,jonem102,??,,99
play,5,0,adcoj101,??,,K
play,5,0,torrj101,??,,S
play,5,0,samua101,??,,99
play,5,1,hubbk101,??,,K
play,5,1,willb104,??,,HR
play,5,1,banke101,??,,HR
play,5,1,altmg101,??,,S
play,5,1,santr102,??,,NP
sub,burdl101,"Lou Burdette",0,9,1
play,5,1,santr102,??,,K
play,5,1,barrc101,??,,NP
sub,thacm101,"Moe Thacker",1,7,11
play,5,1,thacm101,??,,99
play,6,0,burdl101,??,,NP
sub,thacm101,"Moe Thacker",1,7,2
play,6,0,burdl101,??,,K
play,6,0,bellg103,??,,D
play,6,0,mcmir101,??,,WP.2-3
play,6,0,mcmir101,??,,99/SF.3-H
play,6,0,mathe101,??,,W
play,6,0,aaroh101,??,,W.1-2
play,6,0,jonem102,??,,WP.2-3;1-2
play,6,0,jonem102,??,,W
play,6,0,adcoj101,??,,NP
sub,andeb102,"Bob Anderson",1,9,1
play,6,0,adcoj101,??,,99
play,6,1,rodga101,??,,NP
sub,bedeh101,"Howie Bedell",0,1,7
play,6,1,rodga101,??,,D
play,6,1,andeb102,??,,99
play,6,1,brocl102,??,,99
play,6,1,hubbk101,??,,99
play,7,0,torrj101,??,,E5
play,7,0,samua101,??,,99
play,7,0,burdl101,??,,99
play,7,0,bedeh101,??,,99
play,7,1,willb104,??,,99
play,7,1,banke101,??,,HR
play,7,1,altmg101,??,,99
play,7,1,santr102,??,,99
play,8,0,mcmir101,??,,99
play,8,0,mathe101,??,,99
play,8,0,aaroh101,??,,99
play,8,1,thacm101,??,,NP
sub,willb106,"Bob Wills",1,7,11
play,8,1,willb106,??,,HR
play,8,1,rodga101,??,,K
play,8,1,andeb102,??,,NP
sub,mcknj101,"Jim McKnight",1,9,11
play,8,1,mcknj101,??,,S
play,8,1,brocl102,??,,99
play,8,1,hubbk101,??,,99
play,9,0,jonem102,??,,NP
sub,schub101,"Barney Schultz",1,9,1
play,9,0,jonem102,??,,NP
sub,tappe101,"Elvin Tappe",1,7,2
play,9,0,jonem102,??,,99
play,9,0,adcoj101,??,,99
play,9,0,torrj101,??,,W
play,9,0,samua101,??,,99
play,9,1,willb104,??,,NP
sub,aarot101,"Tommy Aaron",0,6,3
play,9,1,willb104,??,,99
play,9,1,banke101,??,,9/F
play,9,1,altmg101,??,,HR
play,9,1,santr102,??,,NP
sub,shawb103,"Bob Shaw",0,9,1
play,9,1,santr102,??,,99
data,er,hendb101,1,4
data,er,nottd101,2,2
data,er,burdl101,3,3
data,er,shawb103,0,0
data,er,buhlb101,3,9
data,er,balst101,2,2
data,er,andeb102,0,0
data,er,schub101,0,0
