id,MLN196404280
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,PIT
info,hometeam,MLN
info,site,MIL05
info,date,1964/04/28
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,secof101
info,ump1b,burkk101
info,ump2b,sudoe901
info,ump3b,pryop901
info,scorer,"60,140"
info,translator,"David W. Smith"
info,inputter,"David W. Smith"
info,inputtime,2011/06/13 12:52PM
info,howscored,park
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,170
info,attendance,3782
info,wp,smitj109
info,lp,siskt101
info,save,tiefb101
info,gwrbi,
start,schod101,"Dick Schofield",0,1,6
start,virdb101,"Bill Virdon",0,2,8
start,clemr101,"Roberto Clemente",0,3,9
start,clend101,"Donn Clendenon",0,4,3
start,bailb103,"Bob Bailey",0,5,5
start,mazeb101,"Bill Mazeroski",0,6,4
start,starw101,"Willie Stargell",0,7,7
start,paglj101,"Jim Pagliaroni",0,8,2
start,frieb102,"Bob Friend",0,9,1
start,mayel101,"Lee Maye",1,1,7
start,mathe101,"Eddie Mathews",1,2,5
start,aaroh101,"Hank Aaron",1,3,9
start,torrj101,"Joe Torre",1,4,3
start,baile101,"Ed Bailey",1,5,2
start,alouf101,"Felipe Alou",1,6,8
start,bollf101,"Frank Bolling",1,7,4
start,menkd101,"Denis Menke",1,8,6
start,lemad102,"Denny Lemaster",1,9,1
play,1,0,schod101,??,,99
play,1,0,virdb101,??,,S
play,1,0,clemr101,??,,S.1-2
play,1,0,clend101,??,,S.2-H;1-2
play,1,0,bailb103,??,,S7.2-H;1-H(E7/TH);B-2
play,1,0,mazeb101,??,,NP
sub,niekp001,"Phil Niekro",1,9,1
play,1,0,mazeb101,??,,K
play,1,0,starw101,??,,99
play,1,1,mayel101,??,,99
play,1,1,mathe101,??,,K
play,1,1,aaroh101,??,,K
play,2,0,paglj101,??,,W
play,2,0,frieb102,??,,WP.1-2
play,2,0,frieb102,??,,99
play,2,0,schod101,??,,S.2-3
play,2,0,virdb101,??,,99
play,2,0,clemr101,??,,S.3-H;1-2
play,2,0,clend101,??,,99
play,2,1,torrj101,??,,HR/7
com,"$500 feet"
play,2,1,baile101,??,,W
play,2,1,alouf101,??,,D.1-3
play,2,1,bollf101,??,,W
play,2,1,menkd101,??,,99/SF.3-H
play,2,1,niekp001,??,,NP
sub,gabrl102,"Len Gabrielson",1,9,11
play,2,1,gabrl102,??,,K
play,2,1,mayel101,??,,D.2-H;1-3
play,2,1,mathe101,??,,99
play,3,0,bailb103,??,,NP
sub,smitj109,"Jack Smith",1,9,1
play,3,0,bailb103,??,,99
play,3,0,mazeb101,??,,99
play,3,0,starw101,??,,99
play,3,1,aaroh101,??,,99
play,3,1,torrj101,??,,99
play,3,1,baile101,??,,99
play,4,0,paglj101,??,,S
play,4,0,frieb102,??,,99
play,4,0,schod101,??,,99
play,4,0,virdb101,??,,1/L
play,4,1,alouf101,??,,99
play,4,1,bollf101,??,,99
play,4,1,menkd101,??,,99
play,5,0,clemr101,??,,K
play,5,0,clend101,??,,K
play,5,0,bailb103,??,,99
play,5,1,smitj109,??,,K
play,5,1,mayel101,??,,W
play,5,1,mathe101,??,,S.1-2
play,5,1,aaroh101,??,,D.2-H;1-3
play,5,1,torrj101,??,,99
play,5,1,baile101,??,,W
play,5,1,alouf101,??,,K
play,6,0,mazeb101,??,,99
play,6,0,starw101,??,,HR/9
play,6,0,paglj101,??,,W
play,6,0,frieb102,??,,NP
sub,alleg101,"Gene Alley",0,9,11
play,6,0,alleg101,??,,K
play,6,0,schod101,??,,K
play,6,1,bollf101,??,,NP
sub,siskt101,"Tommie Sisk",0,9,1
play,6,1,bollf101,??,,W
play,6,1,menkd101,??,,S.1-2
play,6,1,smitj109,??,,NP
sub,clint101,"Ty Cline",1,9,11
play,6,1,clint101,??,,99/SH.2-3;1-2
play,6,1,mayel101,??,,FC6.3XH(62);2-3;B-2
play,6,1,mathe101,??,,S.3-H;2-H
play,6,1,aaroh101,??,,W.1-2
play,6,1,torrj101,??,,99
play,7,0,virdb101,??,,NP
sub,tiefb101,"Bobby Tiefenauer",1,9,1
play,7,0,virdb101,??,,K
play,7,0,clemr101,??,,D
play,7,0,clend101,??,,99
play,7,0,bailb103,??,,99
play,7,1,baile101,??,,W
play,7,1,alouf101,??,,S.1-2
play,7,1,bollf101,??,,E4.2-3;1-2
play,7,1,menkd101,??,,S.3-H;2-H(UR);1-2
play,7,1,tiefb101,??,,K
play,7,1,mayel101,??,,NP
sub,borkf101,"Frank Bork",0,9,1
play,7,1,mayel101,??,,99
play,7,1,mathe101,??,,99
play,8,0,mazeb101,??,,99
play,8,0,starw101,??,,99
play,8,0,paglj101,??,,HP
play,8,0,borkf101,??,,NP
sub,lyncj102,"Jerry Lynch",0,9,11
play,8,0,lyncj102,??,,99
play,8,1,aaroh101,??,,NP
sub,facer101,"Roy Face",0,9,1
play,8,1,aaroh101,??,,W
play,8,1,torrj101,??,,99/G.1-2
play,8,1,baile101,??,,S.2-H
play,8,1,alouf101,??,,S.1-2
play,8,1,bollf101,??,,K
play,8,1,menkd101,??,,K
play,9,0,schod101,??,,S
play,9,0,virdb101,??,,K
play,9,0,clemr101,??,,99
play,9,0,clend101,??,,99
data,er,frieb102,4
data,er,siskt101,3
data,er,borkf101,0
data,er,facer101,1
data,er,lemad102,3
data,er,niekp001,1
data,er,smitj109,1
data,er,tiefb101,0
id,PIT196405080
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,MLN
info,hometeam,PIT
info,site,PIT06
info,date,1964/05/08
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,donaa901
info,ump1b,lands901
info,ump2b,steim901
info,ump3b,barla901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/05/25 3:30 PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,140
info,attendance,11508
info,wp,clont101
info,lp,gibbj102
info,save,
info,gwrbi,
start,alouf101,"Felipe Alou",0,1,8
start,mathe101,"Eddie Mathews",0,2,5
start,aaroh101,"Hank Aaron",0,3,9
start,torrj101,"Joe Torre",0,4,2
start,olivg101,"Gene Oliver",0,5,3
start,cartr101,"Rico Carty",0,6,7
start,bollf101,"Frank Bolling",0,7,4
start,menkd101,"Denis Menke",0,8,6
start,clont101,"Tony Cloninger",0,9,1
start,schod101,"Dick Schofield",1,1,6
start,virdb101,"Bill Virdon",1,2,8
start,clemr101,"Roberto Clemente",1,3,9
start,starw101,"Willie Stargell",1,4,7
start,burgs101,"Smoky Burgess",1,5,2
start,freeg102,"Gene Freese",1,6,5
start,clend101,"Donn Clendenon",1,7,3
start,mazeb101,"Bill Mazeroski",1,8,4
start,gibbj102,"Joe Gibbon",1,9,1
play,1,0,alouf101,??,,D
play,1,0,mathe101,??,,K
play,1,0,aaroh101,??,,IW
play,1,0,torrj101,??,,S.2-3;1-2
play,1,0,olivg101,??,,99
play,1,0,cartr101,??,,K
play,1,1,schod101,??,,K
play,1,1,virdb101,??,,99
play,1,1,clemr101,??,,S
play,1,1,starw101,??,,S.1-2
play,1,1,burgs101,??,,W.2-3;1-2
play,1,1,freeg102,??,,W.3-H;2-3;1-2
play,1,1,clend101,??,,K
play,2,0,bollf101,??,,99
play,2,0,menkd101,??,,K
play,2,0,clont101,??,,99
play,2,1,mazeb101,??,,S
play,2,1,gibbj102,??,,E1/TH.1-2
play,2,1,schod101,??,,99/SH.2-3;1-2
play,2,1,virdb101,??,,99
play,2,1,clemr101,??,,99
play,3,0,alouf101,??,,T/89
play,3,0,mathe101,??,,S9.3-H
play,3,0,aaroh101,??,,99
play,3,0,torrj101,??,,D.1-3
play,3,0,olivg101,??,,5/L
play,3,0,cartr101,??,,99
play,3,1,starw101,??,,99
play,3,1,burgs101,??,,99
play,3,1,freeg102,??,,99
play,4,0,bollf101,??,,S
play,4,0,menkd101,??,,WP.1-2
play,4,0,menkd101,??,,D7.2-H
play,4,0,clont101,??,,FC/SH.2-3
play,4,0,alouf101,??,,99
play,4,0,mathe101,??,,K
play,4,0,aaroh101,??,,99
play,4,1,clend101,??,,99
play,4,1,mazeb101,??,,99
play,4,1,gibbj102,??,,99
play,5,0,torrj101,??,,W
play,5,0,olivg101,??,,99
play,5,0,cartr101,??,,99(1)/FO
play,5,0,bollf101,??,,NP
sub,mayel101,"Lee Maye",0,6,12
play,5,0,bollf101,??,,CS2(99)
play,5,1,schod101,??,,NP
sub,mayel101,"Lee Maye",0,6,7
play,5,1,schod101,??,,K
play,5,1,virdb101,??,,99
play,5,1,clemr101,??,,T8
play,5,1,starw101,??,,99
play,6,0,bollf101,??,,W
play,6,0,menkd101,??,,PB.1-2
play,6,0,menkd101,??,,WP.2-3
play,6,0,menkd101,??,,99
play,6,0,clont101,??,,99
play,6,0,alouf101,??,,99
play,6,1,burgs101,??,,99
play,6,1,freeg102,??,,99
play,6,1,clend101,??,,99
play,7,0,mathe101,??,,99
play,7,0,aaroh101,??,,W
play,7,0,torrj101,??,,54(1)3/GDP
play,7,1,mazeb101,??,,99
play,7,1,gibbj102,??,,NP
sub,bailb103,"Bob Bailey",1,9,11
play,7,1,bailb103,??,,S
play,7,1,schod101,??,,16(1)3/GDP
play,8,0,olivg101,??,,NP
sub,facer101,"Roy Face",1,9,1
play,8,0,olivg101,??,,S
play,8,0,mayel101,??,,PO1(99)
play,8,0,mayel101,??,,99
play,8,0,bollf101,??,,99
play,8,1,virdb101,??,,NP
sub,gabrl102,"Len Gabrielson",0,5,3
play,8,1,virdb101,??,,99
play,8,1,clemr101,??,,99
play,8,1,starw101,??,,99
play,9,0,menkd101,??,,99
play,9,0,clont101,??,,99
play,9,0,alouf101,??,,99
play,9,1,burgs101,??,,S9
play,9,1,freeg102,??,,NP
sub,johnr107,"Rex Johnston",1,5,12
play,9,1,freeg102,??,,99/SH.1-2
play,9,1,clend101,??,,NP
sub,lyncj102,"Jerry Lynch",1,7,11
play,9,1,lyncj102,??,,63.2-3
play,9,1,mazeb101,??,,3/FL
data,er,clont101,1
data,er,gibbj102,2
data,er,facer101,0
