id,ATL197208290
version,4
info,visteam,MON
info,hometeam,ATL
info,site,ATL01
info,date,1972/08/29
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,gormt101
info,ump1b,pelec901
info,ump2b,colon901
info,ump3b,olsea901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/02/14 7:35AM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,152
info,attendance,3107
info,wp,moorb101
info,lp,hardj101
info,save,walkt103
info,gwrbi,
start,mccat101,"Tim McCarver",0,1,2
start,folit001,"Tim Foli",0,2,6
start,singk001,"Ken Singleton",0,3,7
start,fairr101,"Ron Fairly",0,4,9
start,jorgm001,"Mike Jorgensen",0,5,8
start,breeh101,"Hal Breeden",0,6,3
start,bailb103,"Bob Bailey",0,7,5
start,torrh101,"Hector Torres",0,8,4
start,moorb101,"Balor Moore",0,9,1
start,garrr101,"Ralph Garr",1,1,9
start,blanl101,"Larvell Blanks",1,2,4
start,aaroh101,"Hank Aaron",1,3,3
start,baked002,"Dusty Baker",1,4,8
start,wille101,"Earl Williams",1,5,2
start,cartr101,"Rico Carty",1,6,7
start,evand001,"Darrell Evans",1,7,5
start,perem101,"Marty Perez",1,8,6
start,hardj101,"Jim Hardin",1,9,1
play,1,0,mccat101,??,,99
play,1,0,folit001,??,,S
play,1,0,singk001,??,,S.1-2
play,1,0,fairr101,??,,6(1)3/GDP
play,1,1,garrr101,??,,K
play,1,1,blanl101,??,,K
play,1,1,aaroh101,??,,99
play,2,0,jorgm001,??,,K
play,2,0,breeh101,??,,99
play,2,0,bailb103,??,,99
play,2,1,baked002,??,,99
play,2,1,wille101,??,,S
play,2,1,cartr101,??,,W.1-2
play,2,1,evand001,??,,W.2-3;1-2
play,2,1,perem101,??,,K
play,2,1,hardj101,??,,4/F
play,3,0,torrh101,??,,99
play,3,0,moorb101,??,,S
play,3,0,mccat101,??,,99
play,3,0,folit001,??,,99
play,3,1,garrr101,??,,K
play,3,1,blanl101,??,,K
play,3,1,aaroh101,??,,S
play,3,1,baked002,??,,99
play,4,0,singk001,??,,HR
play,4,0,fairr101,??,,W
play,4,0,jorgm001,??,,K
play,4,0,breeh101,??,,99
play,4,0,bailb103,??,,PO1(99)
play,4,1,wille101,??,,K
play,4,1,cartr101,??,,W
play,4,1,evand001,??,,99
play,4,1,perem101,??,,S.1-2
play,4,1,hardj101,??,,K
play,5,0,bailb103,??,,S
play,5,0,torrh101,??,,S.1-3;B-2(E7)
play,5,0,moorb101,??,,K
play,5,0,mccat101,??,,99
play,5,0,folit001,??,,E6.3-H(UR);2-H(UR)
play,5,0,singk001,??,,8/F
play,5,1,garrr101,??,,99
play,5,1,blanl101,??,,99
play,5,1,aaroh101,??,,HR
play,5,1,baked002,??,,99
play,6,0,fairr101,??,,99
play,6,0,jorgm001,??,,99
play,6,0,breeh101,??,,W
play,6,0,bailb103,??,,FC.1-2
play,6,0,torrh101,??,,S.2-3;1-2
play,6,0,moorb101,??,,6/F
play,6,1,wille101,??,,K
play,6,1,cartr101,??,,S
play,6,1,evand001,??,,99
play,6,1,perem101,??,,99
play,7,0,mccat101,??,,99
play,7,0,folit001,??,,99
play,7,0,singk001,??,,HR
play,7,0,fairr101,??,,99
play,7,1,hardj101,??,,NP
sub,millf105,"Felix Millan",1,9,11
play,7,1,millf105,??,,99
play,7,1,garrr101,??,,D
play,7,1,blanl101,??,,99
play,7,1,aaroh101,??,,99
play,8,0,jorgm001,??,,NP
sub,schur101,"Ron Schuler",1,9,1
play,8,0,jorgm001,??,,99
play,8,0,breeh101,??,,99
play,8,0,bailb103,??,,S.BX2(80)
play,8,1,baked002,??,,D
play,8,1,wille101,??,,HR.2-H
play,8,1,cartr101,??,,NP
sub,walkt103,"Tom Walker",0,9,1
play,8,1,cartr101,??,,63
play,8,1,evand001,??,,8/F
play,8,1,perem101,??,,63
play,9,0,torrh101,??,,99
play,9,0,walkt103,??,,K
play,9,0,mccat101,??,,99
play,9,1,schur101,??,,NP
sub,boccj101,"John Boccabella",0,1,2
play,9,1,schur101,??,,NP
sub,day-b102,"Boots Day",0,6,9
play,9,1,schur101,??,,NP
sub,fairr101,"Ron Fairly",0,4,3
play,9,1,schur101,??,,NP
sub,breaj101,"Jim Breazeale",1,9,11
play,9,1,breaj101,??,,S
play,9,1,garrr101,??,,NP
sub,jacks102,"Sonny Jackson",1,9,12
play,9,1,garrr101,??,,46(1)3/GDP
play,9,1,blanl101,??,,NP
sub,lum-m101,"Mike Lum",1,2,11
play,9,1,lum-m101,??,,S
play,9,1,aaroh101,??,,99
data,er,moorb101,3
data,er,walkt103,0
data,er,hardj101,2
data,er,schur101,0
id,ATL197209190
version,4
info,visteam,HOU
info,hometeam,ATL
info,site,ATL01
info,date,1972/09/19
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,dalej901
info,ump1b,colon901
info,ump2b,steim901
info,ump3b,olsea901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/02/14 2:35PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,144
info,attendance,2126
info,wp,wilsd102
info,lp,mcqum103
info,save,cosgm101
info,gwrbi,
start,metzr101,"Roger Metzger",0,1,6
start,wynnj101,"Jim Wynn",0,2,9
start,cedec001,"Cesar Cedeno",0,3,8
start,may-l101,"Lee May",0,4,3
start,watsb001,"Bob Watson",0,5,7
start,raded103,"Doug Rader",0,6,5
start,helmt101,"Tommy Helms",0,7,4
start,howal102,"Larry Howard",0,8,2
start,wilsd102,"Don Wilson",0,9,1
start,garrr101,"Ralph Garr",1,1,7
start,millf105,"Felix Millan",1,2,4
start,evand001,"Darrell Evans",1,3,5
start,wille101,"Earl Williams",1,4,3
start,baked002,"Dusty Baker",1,5,8
start,lum-m101,"Mike Lum",1,6,9
start,jacks102,"Sonny Jackson",1,7,6
start,didib101,"Bob Didier",1,8,2
start,mcqum103,"Mike McQueen",1,9,1
play,1,0,metzr101,??,,99
play,1,0,wynnj101,??,,W
play,1,0,cedec001,??,,SB2
play,1,0,cedec001,??,,99
play,1,0,may-l101,??,,99
play,1,1,garrr101,??,,D
play,1,1,millf105,??,,S.2-H
play,1,1,evand001,??,,W.1-2
play,1,1,wille101,??,,99/P
play,1,1,baked002,??,,W.2-3;1-2
play,1,1,lum-m101,??,,K
play,1,1,jacks102,??,,99
play,2,0,watsb001,??,,99
play,2,0,raded103,??,,99
play,2,0,helmt101,??,,99
play,2,1,didib101,??,,99
play,2,1,mcqum103,??,,K
play,2,1,garrr101,??,,D
play,2,1,millf105,??,,99
play,3,0,howal102,??,,S
play,3,0,wilsd102,??,,99/SH.1-2
play,3,0,metzr101,??,,99
play,3,0,wynnj101,??,,S.2-H
play,3,0,cedec001,??,,D.1-H
play,3,0,may-l101,??,,S.2-H
play,3,0,watsb001,??,,99
play,3,1,evand001,??,,S
play,3,1,wille101,??,,S.1-2
play,3,1,baked002,??,,99
play,3,1,lum-m101,??,,W.2-3;1-2
play,3,1,jacks102,??,,99
play,3,1,didib101,??,,99
play,4,0,raded103,??,,HR
play,4,0,helmt101,??,,W
play,4,0,howal102,??,,SB2
play,4,0,howal102,??,,E5.2-3
play,4,0,wilsd102,??,,K
play,4,0,metzr101,??,,99
play,4,0,wynnj101,??,,99
play,4,1,mcqum103,??,,99
play,4,1,garrr101,??,,99
play,4,1,millf105,??,,99
play,5,0,cedec001,??,,NP
sub,jarvp101,"Pat Jarvis",1,9,1
play,5,0,cedec001,??,,99
play,5,0,may-l101,??,,99
play,5,0,watsb001,??,,K
play,5,1,evand001,??,,99
play,5,1,wille101,??,,S
play,5,1,baked002,??,,4(1)3/GDP
play,6,0,raded103,??,,99
play,6,0,helmt101,??,,99
play,6,0,howal102,??,,99
play,6,1,lum-m101,??,,NP
sub,edwaj101,"Johnny Edwards",0,8,2
play,6,1,lum-m101,??,,S
play,6,1,jacks102,??,,K
play,6,1,didib101,??,,99
play,6,1,jarvp101,??,,NP
sub,gilbr101,"Rod Gilbreath",1,9,11
play,6,1,gilbr101,??,,K
play,7,0,wilsd102,??,,NP
sub,hardj101,"Jim Hardin",1,9,1
play,7,0,wilsd102,??,,K
play,7,0,metzr101,??,,99
play,7,0,wynnj101,??,,99
play,7,1,garrr101,??,,HR
play,7,1,millf105,??,,W
play,7,1,evand001,??,,W.1-2
play,7,1,wille101,??,,WP.2-3;1-2
play,7,1,wille101,??,,63.3-H
play,7,1,baked002,??,,8/F
play,7,1,lum-m101,??,,8/F
play,8,0,cedec001,??,,99
play,8,0,may-l101,??,,E7.B-3
play,8,0,watsb001,??,,S.3-H(UR)
play,8,0,raded103,??,,S.1-2
play,8,0,helmt101,??,,99
play,8,0,edwaj101,??,,99
play,8,1,jacks102,??,,NP
sub,cosgm101,"Mike Cosgrove",0,9,1
play,8,1,jacks102,??,,NP
sub,perem101,"Marty Perez",1,7,11
play,8,1,perem101,??,,99
play,8,1,didib101,??,,99
play,8,1,hardj101,??,,NP
sub,browo101,"Oscar Brown",1,9,11
play,8,1,browo101,??,,99
play,9,0,cosgm101,??,,NP
sub,perem101,"Marty Perez",1,7,6
play,9,0,cosgm101,??,,NP
sub,upshc101,"Cecil Upshaw",1,9,1
play,9,0,cosgm101,??,,K
play,9,0,metzr101,??,,99
play,9,0,wynnj101,??,,99
play,9,1,garrr101,??,,99
play,9,1,millf105,??,,99
play,9,1,evand001,??,,99
data,er,wilsd102,3
data,er,cosgm101,0
data,er,mcqum103,4
data,er,jarvp101,0
data,er,hardj101,0
data,er,upshc101,0
