id,PIT195907090
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,CHN
info,hometeam,PIT
info,site,PIT06
info,date,1959/07/09
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,smitv101
info,ump1b,dascf901
info,ump2b,secof101
info,ump3b,dixoh901
info,scorer,"137,140,68,111"
info,translator,"Rakowski/Smith"
info,inputter,"Rakowski/Smith"
info,inputtime,1996/10/06 4:34PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,161
info,attendance,22080
info,wp,facer101
info,lp,henrb101
info,save,
info,gwrbi,
start,taylt101,"Tony Taylor",0,1,4
start,altmg101,"George Altman",0,2,8
start,marsj101,"Jim Marshall",0,3,7
start,banke101,"Ernie Banks",0,4,6
start,longd101,"Dale Long",0,5,3
start,jackr102,"Randy Jackson",0,6,5
start,walll101,"Lee Walls",0,7,9
start,tayls102,"Sammy Taylor",0,8,2
start,andeb102,"Bob Anderson",0,9,1
start,virdb101,"Bill Virdon",1,1,8
start,groad101,"Dick Groat",1,2,6
start,burgs101,"Smoky Burgess",1,3,2
start,stuad101,"Dick Stuart",1,4,3
start,skinb101,"Bob Skinner",1,5,7
start,mazeb101,"Bill Mazeroski",1,6,4
start,hoakd101,"Don Hoak",1,7,5
start,clemr101,"Roberto Clemente",1,8,9
start,law-v101,"Vern Law",1,9,1
play,1,0,taylt101,??,,99
play,1,0,altmg101,??,,K
com,"strikeout may be in 3rd or 7th"
play,1,0,marsj101,??,,S
play,1,0,banke101,??,,WP.1-2#
play,1,0,banke101,??,,99/F
play,1,1,virdb101,??,,99
play,1,1,groad101,??,,99
play,1,1,burgs101,??,,99
play,2,0,longd101,??,,99
play,2,0,jackr102,??,,W
play,2,0,walll101,??,,99
play,2,0,tayls102,??,,D9/9D.1-3
play,2,0,andeb102,??,,99
play,2,1,stuad101,??,,W
play,2,1,skinb101,??,,3(B)3(1)/LDP
play,2,1,mazeb101,??,,99
play,3,0,taylt101,??,,K
com,"strikeout may be in 1st or 5th"
play,3,0,altmg101,??,,99
play,3,0,marsj101,??,,99
play,3,1,hoakd101,??,,99
play,3,1,clemr101,??,,K
play,3,1,law-v101,??,,K
com,"strikeout may be in 6th"
play,4,0,banke101,??,,99/F
play,4,0,longd101,??,,T
play,4,0,jackr102,??,,99
play,4,0,walll101,??,,99
play,4,1,virdb101,??,,99
play,4,1,groad101,??,,E3
play,4,1,burgs101,??,,E4/DP.1X2(46);BX1(63)
com,"very unlikely but need E3 for Long and 463 DP for PIT"
play,5,0,tayls102,??,,S
play,5,0,andeb102,??,,99/SH.1-2
play,5,0,taylt101,??,,4(B)6(2)/LDP
play,5,1,stuad101,??,,99
play,5,1,skinb101,??,,S8/G
play,5,1,mazeb101,??,,99
play,5,1,hoakd101,??,,D.1-3
play,5,1,clemr101,??,,99
play,6,0,altmg101,??,,S#
play,6,0,marsj101,??,,99/SH.1-2
play,6,0,banke101,??,,99/F
play,6,0,longd101,??,,K
com,"strikeout may be in 2nd or 8th"
play,6,1,law-v101,??,,99
play,6,1,virdb101,??,,99
play,6,1,groad101,??,,99
play,7,0,jackr102,??,,99
play,7,0,walll101,??,,T
play,7,0,tayls102,??,,S9/G.3-H
play,7,0,andeb102,??,,99/G.1-2
play,7,0,taylt101,??,,S.2-3
play,7,0,altmg101,??,,99
play,7,1,burgs101,??,,S7
play,7,1,stuad101,??,,NP
sub,schod101,"Dick Schofield",1,3,12
play,7,1,stuad101,??,,99/SH.1-2
play,7,1,skinb101,??,,S14/G.2-3
play,7,1,mazeb101,??,,S8.3-H;1-2
play,7,1,hoakd101,??,,NP
sub,elstd101,"Don Elston",0,9,1
play,7,1,hoakd101,??,,D7/7D.2-H;1-H
play,7,1,clemr101,??,,S.2-3
play,7,1,law-v101,??,,K
play,7,1,virdb101,??,,99
play,8,0,marsj101,??,,NP
sub,kravd101,"Danny Kravitz",1,3,2
play,8,0,marsj101,??,,99
play,8,0,banke101,??,,99/F
play,8,0,longd101,??,,99
play,8,1,groad101,??,,99
play,8,1,kravd101,??,,99
play,8,1,stuad101,??,,K
play,9,0,jackr102,??,,NP
sub,moryw101,"Walt Moryn",0,6,11
play,9,0,moryw101,??,,99/G
play,9,0,walll101,??,,99/G
play,9,0,tayls102,??,,S9
play,9,0,elstd101,??,,NP
sub,norei101,"Irv Noren",0,9,11
play,9,0,norei101,??,,T8/89XD.1-H
play,9,0,taylt101,??,,NP
sub,facer101,"Roy Face",1,9,1
play,9,0,taylt101,??,,S9/L89S.3-H
play,9,0,altmg101,??,,PB.1-2
play,9,0,altmg101,??,,99/P
play,9,1,skinb101,??,,NP
sub,goryj101,"Johnny Goryl",0,6,5
play,9,1,skinb101,??,,NP
sub,henrb101,"Bill Henry",0,9,1
play,9,1,skinb101,??,,99
play,9,1,mazeb101,??,,99
play,9,1,hoakd101,??,,99
play,10,0,marsj101,??,,99
play,10,0,banke101,??,,99/F
play,10,0,longd101,??,,K
com,"Face's strikeout is either Long here or Altman in 9th"
play,10,1,clemr101,??,,S7
play,10,1,facer101,??,,NP
sub,mejir101,"Roman Mejias",1,9,11
play,10,1,mejir101,??,,99/SH.1-2
play,10,1,virdb101,??,,NP
sub,brigh101,"Harry Bright",1,1,11
play,10,1,brigh101,??,,S8/G46.2-H
data,er,andeb102,3
data,er,elstd101,0
data,er,henrb101,1
data,er,law-v101,3
data,er,facer101,0
