id,SLN191405140
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,PHI
info,hometeam,SLN
info,site,STL05
info,date,1914/05/14
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,ortha101
info,ump1b,byrol901
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"208,266"
info,translator,"David W. Smith"
info,inputter,"David W. Smith"
info,inputtime,2024/06/15 2:58PM
info,howscored,park
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,170
info,attendance,1500
info,wp,alexg102
info,lp,robih102
info,save,
info,gwrbi,
start,paskd101,"Dode Paskert",0,1,8
start,ludef101,"Fred Luderus",0,2,3
start,lobeh101,"Hans Lobert",0,3,5
start,mages101,"Sherry Magee",0,4,6
start,cravg101,"Gavvy Cravath",0,5,9
start,beckb101,"Beals Becker",0,6,7
start,byrnb101,"Bobby Byrne",0,7,4
start,killb101,"Bill Killefer",0,8,2
start,mayee101,"Erskine Mayer",0,9,1
start,huggm101,"Miller Huggins",1,1,4
start,magel101,"Lee Magee",1,2,3
start,butla101,"Art Butler",1,3,6
start,wingi101,"Ivey Wingo",1,4,9
start,wilsc102,"Chief Wilson",1,5,8
start,cruiw101,"Walton Cruise",1,6,7
start,snydf101,"Frank Snyder",1,7,2
start,beckz101,"Zinn Beck",1,8,5
start,perrp101,"Pol Perritt",1,9,1
play,1,0,paskd101,??,,99
play,1,0,ludef101,??,,99
play,1,0,lobeh101,??,,S
play,1,0,mages101,??,,K
play,1,1,huggm101,??,,99
play,1,1,magel101,??,,99
play,1,1,butla101,??,,99
play,2,0,cravg101,??,,W
play,2,0,beckb101,??,,99
play,2,0,byrnb101,??,,99
play,2,0,killb101,??,,99
play,2,1,wingi101,??,,S
play,2,1,wilsc102,??,,SB2
play,2,1,wilsc102,??,,99
play,2,1,cruiw101,??,,99
play,2,1,snydf101,??,,HP
play,2,1,beckz101,??,,99
play,3,0,mayee101,??,,K
play,3,0,paskd101,??,,99
play,3,0,ludef101,??,,99
play,3,1,perrp101,??,,99
play,3,1,huggm101,??,,HP
play,3,1,magel101,??,,CS2(99)
play,3,1,magel101,??,,E6
play,3,1,butla101,??,,99
play,4,0,lobeh101,??,,99
play,4,0,mages101,??,,K
play,4,0,cravg101,??,,99
play,4,1,wingi101,??,,99
play,4,1,wilsc102,??,,99
play,4,1,cruiw101,??,,K
play,5,0,beckb101,??,,99
play,5,0,byrnb101,??,,S
play,5,0,killb101,??,,99
play,5,0,mayee101,??,,99
play,5,1,snydf101,??,,K
play,5,1,beckz101,??,,S7
play,5,1,perrp101,??,,3/G.1-2
play,5,1,huggm101,??,,S.2-3
play,5,1,magel101,??,,SB2
play,5,1,magel101,??,,E4/G.3-H(NR)(UR);2-3
play,5,1,butla101,??,,SBH(UR);SB2
play,5,1,butla101,??,,99
play,6,0,paskd101,??,,99
play,6,0,ludef101,??,,99
play,6,0,lobeh101,??,,99
play,6,1,wingi101,??,,99
play,6,1,wilsc102,??,,T/89
play,6,1,cruiw101,??,,99
play,6,1,snydf101,??,,E5/G.3-H(NR)(UR)
play,6,1,beckz101,??,,FC4/G.1-2;B-1
play,6,1,perrp101,??,,K
play,7,0,mages101,??,,S8.B-2(E8)
play,7,0,cravg101,??,,S.2-3
play,7,0,beckb101,??,,46(1)/FO.3-H(UR)
play,7,0,byrnb101,??,,99
play,7,0,killb101,??,,99
play,7,1,huggm101,??,,99
play,7,1,magel101,??,,99
play,7,1,butla101,??,,99
play,8,0,mayee101,??,,NP
sub,devoj101,"Josh Devore",0,9,11
play,8,0,devoj101,??,,99
play,8,0,paskd101,??,,99
play,8,0,ludef101,??,,99
play,8,1,wingi101,??,,NP
sub,oescj101,"Joe Oeschger",0,9,1
play,8,1,wingi101,??,,W
play,8,1,wilsc102,??,,CS2(99)
play,8,1,wilsc102,??,,99
play,8,1,cruiw101,??,,99
play,9,0,lobeh101,??,,S
play,9,0,mages101,??,,W.1-2
play,9,0,cravg101,??,,SB3;SB2
play,9,0,cravg101,??,,5/FL
play,9,0,beckb101,??,,S8.3-H;2-H
play,9,0,byrnb101,??,,99
play,9,0,killb101,??,,99
play,9,1,snydf101,??,,99
play,9,1,beckz101,??,,W
play,9,1,perrp101,??,,SB2
play,9,1,perrp101,??,,NP
sub,alexg102,"Pete Alexander",0,9,1
play,9,1,perrp101,??,,NP
sub,millc101,"Chuck Miller",1,9,11
play,9,1,millc101,??,,K
play,9,1,huggm101,??,,FC.2-3;B-1
play,9,1,magel101,??,,W.1-2
play,9,1,butla101,??,,99
play,10,0,alexg102,??,,NP
sub,robih102,"Hank Robinson",1,9,1
play,10,0,alexg102,??,,99
play,10,0,paskd101,??,,99
play,10,0,ludef101,??,,99
play,10,1,wingi101,??,,E4
play,10,1,wilsc102,??,,S.1-2
play,10,1,cruiw101,??,,S.2-3;1-2
play,10,1,snydf101,??,,K/BF
play,10,1,beckz101,??,,NP
sub,catht101,"Ted Cather",1,8,11
play,10,1,catht101,??,,64(1)3/GDP
play,11,0,lobeh101,??,,NP
sub,dolac102,"Cozy Dolan",1,8,5
play,11,0,lobeh101,??,,D7
play,11,0,mages101,??,,99/SH.2-3
play,11,0,cravg101,??,,W
play,11,0,beckb101,??,,SB2
play,11,0,beckb101,??,,K
play,11,0,byrnb101,??,,99
play,11,1,robih102,??,,K
play,11,1,huggm101,??,,99
play,11,1,magel101,??,,S
play,11,1,butla101,??,,CS2(99)
play,12,0,killb101,??,,K
play,12,0,alexg102,??,,99
play,12,0,paskd101,??,,HP
play,12,0,ludef101,??,,CS2(99)
play,12,1,butla101,??,,E4
play,12,1,wingi101,??,,99/SH.1-2
play,12,1,wilsc102,??,,K
play,12,1,cruiw101,??,,W
play,12,1,snydf101,??,,99
play,13,0,ludef101,??,,99
play,13,0,lobeh101,??,,99
play,13,0,mages101,??,,99
play,13,1,dolac102,??,,S
play,13,1,robih102,??,,99/SH.1-2
play,13,1,huggm101,??,,FC/SH.2-3;B-1
play,13,1,magel101,??,,99
play,13,1,butla101,??,,99
play,14,0,cravg101,??,,T8
play,14,0,beckb101,??,,S3.3-H
play,14,0,byrnb101,??,,43.1-2
play,14,0,killb101,??,,S7.2-H
play,14,0,alexg102,??,,99
play,14,0,paskd101,??,,99
play,14,1,wingi101,??,,99
play,14,1,wilsc102,??,,99
play,14,1,cruiw101,??,,S
play,14,1,snydf101,??,,99
data,er,mayee101,0
data,er,oescj101,0
data,er,alexg102,0
data,er,perrp101,2
data,er,robih102,2
id,SLN191407120
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,BSN
info,hometeam,SLN
info,date,1914/07/12
info,site,STL05
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,klemb901
info,ump1b,emslb101
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"71,208,163,574"
info,translator,"Cliff Blau"
info,inputter,"Cliff Blau"
info,inputtime,2024/08/01 4:44PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,170
info,attendance,12000
info,wp,crutd101
info,lp,doakb101
info,save,
info,gwrbi,
start,devoj101,"Josh Devore",0,1,8
start,everj102,"Johnny Evers",0,2,4
start,connj107,"Joe Connolly",0,3,7
start,whitp102,"Possum Whitted",0,4,6
start,schmb103,"Butch Schmidt",0,5,3
start,dealc102,"Charlie Deal",0,6,5
start,gilbl101,"Larry Gilbert",0,7,9
start,whalb101,"Bert Whaling",0,8,2
start,tylel101,"Lefty Tyler",0,9,1
start,huggm101,"Miller Huggins",1,1,4
start,magel101,"Lee Magee",1,2,8
start,dolac102,"Cozy Dolan",1,3,7
start,milld102,"Dots Miller",1,4,3
start,wilsc102,"Chief Wilson",1,5,9
start,beckz101,"Zinn Beck",1,6,5
start,snydf101,"Frank Snyder",1,7,2
start,butla101,"Art Butler",1,8,6
start,doakb101,"Bill Doak",1,9,1
play,1,0,devoj101,??,,S
play,1,0,everj102,??,,S.1-2
play,1,0,connj107,??,,4(1)/FO.2-3
play,1,0,whitp102,??,,43/SH/DP.3-H;1X3(35)#
play,1,1,huggm101,??,,99
play,1,1,magel101,??,,W
play,1,1,dolac102,??,,K+CS2(24)/DP#
play,2,0,schmb103,??,,99
play,2,0,dealc102,??,,99
play,2,0,gilbl101,??,,99
play,2,1,milld102,??,,S#
play,2,1,wilsc102,??,,99
play,2,1,beckz101,??,,99
play,2,1,snydf101,??,,99
play,3,0,whalb101,??,,S
play,3,0,tylel101,??,,S.1-2
play,3,0,devoj101,??,,5(2)/FO/BG.1-2#
play,3,0,everj102,??,,99/SH.2-3;1-2
play,3,0,connj107,??,,D/78.3-H;2-H
play,3,0,whitp102,??,,99
play,3,1,butla101,??,,W
play,3,1,doakb101,??,,E4/G.1-2
play,3,1,huggm101,??,,W.2-3;1-2
play,3,1,magel101,??,,T7.3-H;2-H(UR);1-H
play,3,1,dolac102,??,,K
play,3,1,milld102,??,,FC3.3XH(32);B-1
play,3,1,wilsc102,??,,S.1-2#
play,3,1,beckz101,??,,6/L
play,4,0,schmb103,??,,S8
play,4,0,dealc102,??,,E1/TH/SH.1-3
play,4,0,gilbl101,??,,W.1-2
play,4,0,whalb101,??,,S7.3-H;2-H(UR);1-2
play,4,0,tylel101,??,,99/SH.2-3;1-2
play,4,0,devoj101,??,,K
play,4,0,everj102,??,,W
play,4,0,connj107,??,,W.3-H(UR);2-3;1-2
play,4,0,whitp102,??,,NP
sub,perdh101,"Hub Perdue",1,9,1
play,4,0,whitp102,??,,63#
play,4,1,snydf101,??,,NP
sub,crutd101,"Dick Crutcher",0,9,1
play,4,1,snydf101,??,,99
play,4,1,butla101,??,,99
play,4,1,perdh101,??,,K23#
play,5,0,schmb103,??,,S#
play,5,0,dealc102,??,,99/SH.1-2#
play,5,0,gilbl101,??,,HP#
play,5,0,whalb101,??,,9(B)4(2)/LDP#
play,5,1,huggm101,??,,99
play,5,1,magel101,??,,99
play,5,1,dolac102,??,,K23#
play,6,0,crutd101,??,,K
play,6,0,devoj101,??,,99
play,6,0,everj102,??,,T#
play,6,0,connj107,??,,99
play,6,1,milld102,??,,99
play,6,1,wilsc102,??,,99
play,6,1,beckz101,??,,K#
play,7,0,whitp102,??,,NP
sub,dresl101,"Lee Dressen",1,1,3
play,7,0,whitp102,??,,NP
sub,milld102,"Dots Miller",1,4,4
play,7,0,whitp102,??,,W
play,7,0,schmb103,??,,4(1)/FO#
play,7,0,dealc102,??,,S.1-2#
play,7,0,gilbl101,??,,2/FL
play,7,0,whalb101,??,,S.2-H;1-3#
play,7,0,crutd101,??,,SB2#
play,7,0,crutd101,??,,S.3-H;2-3;B-2(TH)#
play,7,0,devoj101,??,,S.3-H;2-H#
play,7,0,everj102,??,,99
play,7,1,snydf101,??,,99
play,7,1,butla101,??,,99
play,7,1,perdh101,??,,NP
sub,millc101,"Chuck Miller",1,9,11
play,7,1,millc101,??,,S#
play,7,1,dresl101,??,,E1.1-2#
play,7,1,magel101,??,,K#
play,8,0,connj107,??,,NP
sub,millc101,"Chuck Miller",1,9,8
play,8,0,connj107,??,,NP
sub,wills101,"Steamboat Williams",1,2,1
play,8,0,connj107,??,,99
play,8,0,whitp102,??,,W
play,8,0,schmb103,??,,99
play,8,0,dealc102,??,,CS2(99)#
play,8,1,dolac102,??,,NP
sub,riggj101,"Joe Riggert",1,3,11
play,8,1,riggj101,??,,S
play,8,1,milld102,??,,99
play,8,1,wilsc102,??,,T.1-H#
play,8,1,beckz101,??,,99
play,8,1,snydf101,??,,99
play,9,0,dealc102,??,,NP
sub,riggj101,"Joe Riggert",1,3,7
play,9,0,dealc102,??,,NP
sub,nashk101,"Ken Nash",1,8,6
play,9,0,dealc102,??,,E6/TH.B-2#
play,9,0,gilbl101,??,,W
play,9,0,whalb101,??,,W.2-3;1-2
play,9,0,crutd101,??,,52(3)3/GDP.2-3;1-2#
play,9,0,devoj101,??,,S.3-H;2-H#
play,9,0,everj102,??,,W.1-2
play,9,0,connj107,??,,S.2-3;1-2#
play,9,0,whitp102,??,,K
play,9,1,nashk101,??,,S
play,9,1,millc101,??,,D.1-3#
play,9,1,dresl101,??,,99
play,9,1,wills101,??,,NP
sub,cruiw101,"Walton Cruise",1,2,11
play,9,1,cruiw101,??,,99/SF.3-H
play,9,1,riggj101,??,,99
data,er,tylel101,2
data,er,crutd101,2
data,er,doakb101,4
data,er,perdh101,4
data,er,wills101,2
id,SLN191407130
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,BSN
info,hometeam,SLN
info,date,1914/07/13
info,site,STL05
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,klemb901
info,ump1b,emslb101
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"208,269,163,574"
info,translator,"Cliff Blau"
info,inputter,"Cliff Blau"
info,inputtime,2024/08/02 5:18PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,205
info,attendance,3500
info,wp,rudod101
info,lp,grind101
info,save,
info,gwrbi,
start,devoj101,"Josh Devore",0,1,8
start,everj102,"Johnny Evers",0,2,4
start,connj107,"Joe Connolly",0,3,7
start,marar101,"Rabbit Maranville",0,4,6
start,schmb103,"Butch Schmidt",0,5,3
start,dealc102,"Charlie Deal",0,6,5
start,gilbl101,"Larry Gilbert",0,7,9
start,whalb101,"Bert Whaling",0,8,2
start,jameb102,"Bill James",0,9,1
start,huggm101,"Miller Huggins",1,1,4
start,millc101,"Chuck Miller",1,2,8
start,dolac102,"Cozy Dolan",1,3,7
start,milld102,"Dots Miller",1,4,3
start,wilsc102,"Chief Wilson",1,5,9
start,beckz101,"Zinn Beck",1,6,5
start,wingi101,"Ivey Wingo",1,7,2
start,butla101,"Art Butler",1,8,6
start,perrp101,"Pol Perritt",1,9,1
play,1,0,devoj101,??,,99
play,1,0,everj102,??,,S
play,1,0,connj107,??,,S.1-2#
play,1,0,marar101,??,,D7.2-H;1-H#
play,1,0,schmb103,??,,S9.2-H
play,1,0,dealc102,??,,S.1-2#
play,1,0,gilbl101,??,,99/SH.2-3;1-2#
play,1,0,whalb101,??,,99
play,1,1,huggm101,??,,S#
play,1,1,millc101,??,,99
play,1,1,dolac102,??,,99
play,1,1,milld102,??,,99
play,2,0,jameb102,??,,99
play,2,0,devoj101,??,,99
play,2,0,everj102,??,,D#
play,2,0,connj107,??,,99
play,2,1,wilsc102,??,,W
play,2,1,beckz101,??,,D9.1-H(E9/TH)(NR);B-3
play,2,1,wingi101,??,,99/G#
play,2,1,butla101,??,,13.3-H
play,2,1,perrp101,??,,K#
play,3,0,marar101,??,,S
play,3,0,schmb103,??,,99/SH.1-2#
play,3,0,dealc102,??,,E6/TH.2-H(NR)(UR);B-2#
play,3,0,gilbl101,??,,99
play,3,0,whalb101,??,,S.2-3#
play,3,0,jameb102,??,,CS2(99)#
play,3,1,huggm101,??,,W#
play,3,1,millc101,??,,PO1(13)#
play,3,1,millc101,??,,99
play,3,1,dolac102,??,,S#
play,3,1,milld102,??,,SB2#
play,3,1,milld102,??,,99
play,4,0,jameb102,??,,S#
play,4,0,devoj101,??,,K+CS2(24)/DP#
play,4,0,everj102,??,,99
play,4,1,wilsc102,??,,99
play,4,1,beckz101,??,,W#
play,4,1,wingi101,??,,SB2#
play,4,1,wingi101,??,,K#
play,4,1,butla101,??,,K#
play,5,0,connj107,??,,W
play,5,0,marar101,??,,99
play,5,0,schmb103,??,,99
play,5,0,dealc102,??,,S.1-2#
play,5,0,gilbl101,??,,S.2-H;1-2#
play,5,0,whalb101,??,,K#
play,5,1,perrp101,??,,99
play,5,1,huggm101,??,,W#
play,5,1,millc101,??,,99
play,5,1,dolac102,??,,99
play,6,0,jameb102,??,,99
play,6,0,devoj101,??,,D#
play,6,0,everj102,??,,99
play,6,0,connj107,??,,99
play,6,1,milld102,??,,99
play,6,1,wilsc102,??,,99
play,6,1,beckz101,??,,99
play,7,0,marar101,??,,W
play,7,0,schmb103,??,,SB2
play,7,0,schmb103,??,,K#
play,7,0,dealc102,??,,S.2-H
play,7,0,gilbl101,??,,K#
play,7,0,whalb101,??,,W.1-2#
play,7,0,jameb102,??,,99
play,7,1,wingi101,??,,T
play,7,1,butla101,??,,S.3-H
play,7,1,perrp101,??,,NP
sub,cruiw101,"Walton Cruise",1,9,11
play,7,1,cruiw101,??,,W.1-2
play,7,1,huggm101,??,,NP
sub,rudod101,"Dick Rudolph",0,9,1
com,"Rudolph entered with 3-0 count on Cruise."
presadj,rudod101,2
presadj,rudod101,1
play,7,1,huggm101,??,,4/P
play,7,1,millc101,??,,S5/BG.2-3;1-2
play,7,1,dolac102,??,,NP
sub,dugeo101,"Oscar Dugey",0,2,4
com,"$Evers hurt on pickoff play"
play,7,1,dolac102,??,,D7.3-H;2-H;1-3
play,7,1,milld102,??,,FC6.3XH(62);2-3;B-1
play,7,1,wilsc102,??,,13
play,8,0,devoj101,??,,NP
sub,salls101,"Slim Sallee",1,9,1
play,8,0,devoj101,??,,NP
sub,catht101,"Ted Cather",0,1,11
play,8,0,catht101,??,,99
play,8,0,dugeo101,??,,S
play,8,0,connj107,??,,NP
sub,mannl101,"Les Mann",0,3,11
play,8,0,mannl101,??,,SB2#
play,8,0,mannl101,??,,W
play,8,0,marar101,??,,99
play,8,0,schmb103,??,,99
play,8,1,beckz101,??,,NP
sub,catht101,"Ted Cather",0,1,8
play,8,1,beckz101,??,,NP
sub,mannl101,"Les Mann",0,3,7
play,8,1,beckz101,??,,99
play,8,1,wingi101,??,,99
play,8,1,butla101,??,,S#
play,8,1,salls101,??,,NP
sub,riggj101,"Joe Riggert",1,9,11
play,8,1,riggj101,??,,K
play,9,0,dealc102,??,,NP
sub,grind101,"Dan Griner",1,9,1
play,9,0,dealc102,??,,99
play,9,0,gilbl101,??,,99
play,9,0,whalb101,??,,99
play,9,1,huggm101,??,,99
play,9,1,millc101,??,,6/L
play,9,1,dolac102,??,,HR8/IPHR
play,9,1,milld102,??,,99
play,10,0,rudod101,??,,S
play,10,0,catht101,??,,99
play,10,0,dugeo101,??,,99
play,10,0,mannl101,??,,99
play,10,1,wilsc102,??,,D#
play,10,1,beckz101,??,,99
play,10,1,wingi101,??,,99
play,10,1,butla101,??,,99
play,11,0,marar101,??,,D
play,11,0,schmb103,??,,K#
play,11,0,dealc102,??,,99
play,11,0,gilbl101,??,,W#
play,11,0,whalb101,??,,99
play,11,1,grind101,??,,S
play,11,1,huggm101,??,,99
play,11,1,millc101,??,,99
play,11,1,dolac102,??,,K#
play,12,0,rudod101,??,,W
play,12,0,catht101,??,,K
play,12,0,dugeo101,??,,HR7/IPHR.1-H
play,12,0,mannl101,??,,99
play,12,0,marar101,??,,K#
play,12,1,milld102,??,,99
play,12,1,wilsc102,??,,T9
play,12,1,beckz101,??,,43.3-H
play,12,1,wingi101,??,,K/C
data,er,jameb102,3
data,er,rudod101,4
data,er,perrp101,5
data,er,salls101,0
data,er,grind101,2
id,SLN191407170
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,PHI
info,hometeam,SLN
info,date,1914/07/17
info,site,STL05
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,riglc901
info,ump1b,hartb106
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"102,128,208,266"
info,translator,"Cliff Blau"
info,inputter,"Cliff Blau"
info,inputtime,2024/08/07 5:05PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,130
info,attendance,2700
info,wp,perdh101
info,lp,mayee101
info,save,
info,gwrbi,
start,byrnb101,"Bobby Byrne",0,1,4
start,paskd101,"Dode Paskert",0,2,8
start,beckb101,"Beals Becker",0,3,9
start,lobeh101,"Hans Lobert",0,4,5
start,mages101,"Sherry Magee",0,5,7
start,ludef101,"Fred Luderus",0,6,3
start,martj109,"Jack Martin",0,7,6
start,dooir101,"Red Dooin",0,8,2
start,mayee101,"Erskine Mayer",0,9,1
start,huggm101,"Miller Huggins",1,1,4
start,cruiw101,"Walton Cruise",1,2,8
start,dolac102,"Cozy Dolan",1,3,7
start,milld102,"Dots Miller",1,4,6
start,wilsc102,"Chief Wilson",1,5,9
start,beckz101,"Zinn Beck",1,6,5
start,wingi101,"Ivey Wingo",1,7,2
start,dresl101,"Lee Dressen",1,8,3
start,perdh101,"Hub Perdue",1,9,1
play,1,0,byrnb101,??,,99
play,1,0,paskd101,??,,99
play,1,0,beckb101,??,,K#
play,1,1,huggm101,??,,99
ladj,1,8
play,1,1,dresl101,??,,W
com,"$Dressen batted out of order (Cruise was due up) but"
com,"Phillies did not notice. Cardinals realized the mistake and"
com,"Dressen batted in his correct spot in order in 2nd inning"
ladj,1,3
play,1,1,dolac102,??,,CS2(26)#
play,1,1,dolac102,??,,99
play,2,0,lobeh101,??,,99
play,2,0,mages101,??,,99
play,2,0,ludef101,??,,K#
play,2,1,milld102,??,,S9
play,2,1,wilsc102,??,,5/FL
play,2,1,beckz101,??,,S8.1-3
play,2,1,wingi101,??,,W.1-2
play,2,1,dresl101,??,,7/L/SF.3-H
play,2,1,perdh101,??,,99
play,3,0,martj109,??,,S#
play,3,0,dooir101,??,,36(1)/FO#
play,3,0,mayee101,??,,99
play,3,0,byrnb101,??,,S.1-2#
play,3,0,paskd101,??,,99
play,3,1,huggm101,??,,99
play,3,1,cruiw101,??,,S
play,3,1,dolac102,??,,4(1)/FO.B-2(E4/TH)#
play,3,1,milld102,??,,S.2-H
play,3,1,wilsc102,??,,S7.1-H(E7)(NR)(UR);B-2#
play,3,1,beckz101,??,,99
play,4,0,beckb101,??,,K#
play,4,0,lobeh101,??,,99
play,4,0,mages101,??,,D7
play,4,0,ludef101,??,,K
play,4,1,wingi101,??,,D
play,4,1,dresl101,??,,K#
play,4,1,perdh101,??,,99
play,4,1,huggm101,??,,99
play,5,0,martj109,??,,E6#
play,5,0,dooir101,??,,K
play,5,0,mayee101,??,,S.1-2#
play,5,0,byrnb101,??,,S.2-3;1-2#
play,5,0,paskd101,??,,99
play,5,0,beckb101,??,,3/G
play,5,1,cruiw101,??,,99
play,5,1,dolac102,??,,S#
play,5,1,milld102,??,,PO1(E1).1-2
play,5,1,milld102,??,,63/DP.2XH(32)
play,6,0,lobeh101,??,,99
play,6,0,mages101,??,,9/F#
play,6,0,ludef101,??,,HP
play,6,0,martj109,??,,K#
play,6,1,wilsc102,??,,99
play,6,1,beckz101,??,,W
play,6,1,wingi101,??,,S.1-2#
play,6,1,dresl101,??,,W.2-3;1-2
play,6,1,perdh101,??,,S/4.3-H;2-H;1-2#
play,6,1,huggm101,??,,S9.2-H;1-2#
play,6,1,cruiw101,??,,K#
play,6,1,dolac102,??,,99
play,7,0,dooir101,??,,NP
sub,mcavg101,"George McAvoy",0,8,11
play,7,0,mcavg101,??,,99
play,7,0,mayee101,??,,NP
sub,cravg101,"Gavvy Cravath",0,9,11
play,7,0,cravg101,??,,99
play,7,0,byrnb101,??,,99
play,7,1,milld102,??,,NP
sub,burne101,"Ed Burns",0,8,2
play,7,1,milld102,??,,NP
sub,rixee101,"Eppa Rixey",0,9,1
play,7,1,milld102,??,,S
play,7,1,wilsc102,??,,4(1)/FO#
play,7,1,beckz101,??,,PO1(E1).1-2#
play,7,1,beckz101,??,,S8.2-3;B-2(TH)
play,7,1,wingi101,??,,WP.3-H;2-3
play,7,1,wingi101,??,,WP.3-H
play,7,1,wingi101,??,,W
play,7,1,dresl101,??,,OA.1X2(99)
play,7,1,dresl101,??,,99
play,8,0,paskd101,??,,S
play,8,0,beckb101,??,,4/P
play,8,0,lobeh101,??,,S/1.1-3#
play,8,0,mages101,??,,SB2#
play,8,0,mages101,??,,8/L
play,8,0,ludef101,??,,D9.3-H;2-H
play,8,0,martj109,??,,S.2-H
play,8,0,burne101,??,,99
play,8,1,perdh101,??,,99
play,8,1,huggm101,??,,99
play,8,1,cruiw101,??,,HP
play,8,1,dolac102,??,,NP
sub,riggj101,"Joe Riggert",1,3,11
play,8,1,riggj101,??,,99
play,9,0,rixee101,??,,NP
sub,riggj101,"Joe Riggert",1,3,7
play,9,0,rixee101,??,,NP
sub,rochj101,"Jack Roche",1,7,2
play,9,0,rixee101,??,,NP
sub,irelh101,"Hal Irelan",0,9,11
play,9,0,irelh101,??,,S
play,9,0,byrnb101,??,,99.1-2#
play,9,0,paskd101,??,,K#
play,9,0,beckb101,??,,S9.2-H
play,9,0,lobeh101,??,,99
data,er,mayee101,5
data,er,rixee101,2
data,er,perdh101,4
