id,CHN191609031
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,SLN
info,hometeam,CHN
info,site,CHI11
info,date,1916/09/03
info,number,1
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,scorer,"208,111"
info,umphome,easom101
info,ump1b,riglc901
info,ump2b,(none)
info,ump3b,(none)
info,translator,"David W. Smith"
info,inputter,"David W. Smith"
info,inputtime,2024/01/26 1:43PM
info,howscored,park
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,117
info,attendance,0
info,wp,lavej101
info,lp,amesr101
info,save,packg101
info,gwrbi,
start,longt102,"Tom Long",0,1,9
start,beckz101,"Zinn Beck",0,2,5
start,bescb101,"Bob Bescher",0,3,7
start,snydf101,"Frank Snyder",0,4,3
start,wilsc102,"Chief Wilson",0,5,8
start,milld102,"Dots Miller",0,6,6
start,gonzm101,"Mike Gonzalez",0,7,2
start,betzb101,"Bruno Betzel",0,8,4
start,amesr101,"Red Ames",0,9,1
start,flacm101,"Max Flack",1,1,9
start,doyll101,"Larry Doyle",1,2,4
start,kellj102,"Joe Kelly",1,3,7
start,saiev101,"Vic Saier",1,4,3
start,willc103,"Cy Williams",1,5,8
start,archj102,"Jimmy Archer",1,6,2
start,pechc101,"Charlie Pechous",1,7,5
start,wortc101,"Chuck Wortman",1,8,6
start,lavej101,"Jimmy Lavender",1,9,1
play,1,0,longt102,??,,53
play,1,0,beckz101,??,,K
play,1,0,bescb101,??,,K
play,1,1,flacm101,??,,99
play,1,1,doyll101,??,,99
play,1,1,kellj102,??,,99
play,2,0,snydf101,??,,99
play,2,0,wilsc102,??,,99
play,2,0,milld102,??,,D7
play,2,0,gonzm101,??,,S7.2-H
play,2,0,betzb101,??,,K
play,2,1,saiev101,??,,99
play,2,1,willc103,??,,S
play,2,1,archj102,??,,64(1)3/GDP
play,3,0,amesr101,??,,K
play,3,0,longt102,??,,S
play,3,0,beckz101,??,,99
play,3,0,bescb101,??,,K
play,3,1,pechc101,??,,K
play,3,1,wortc101,??,,S/BG
play,3,1,lavej101,??,,99
play,3,1,flacm101,??,,S7.1-2
play,3,1,doyll101,??,,D9.2-H;1-H
play,3,1,kellj102,??,,99
play,4,0,snydf101,??,,S
play,4,0,wilsc102,??,,99
play,4,0,milld102,??,,99
play,4,0,gonzm101,??,,99
play,4,1,saiev101,??,,99
play,4,1,willc103,??,,W
play,4,1,archj102,??,,W.1-2
play,4,1,pechc101,??,,99(1)/FO.2-3
play,4,1,wortc101,??,,SB2.3-H(E5/TH)(UR)
play,4,1,wortc101,??,,S8.2-H(UR);B-2(E6)
play,4,1,lavej101,??,,99
play,5,0,betzb101,??,,99/G
com,"$Betzel left with sprained ankle"
play,5,0,amesr101,??,,99
play,5,0,longt102,??,,W
play,5,0,beckz101,??,,99
play,5,1,flacm101,??,,NP
sub,stews101,"Stuffy Stewart",0,8,4
play,5,1,flacm101,??,,99
play,5,1,doyll101,??,,S
play,5,1,kellj102,??,,99
play,5,1,saiev101,??,,99
play,6,0,bescb101,??,,99
play,6,0,snydf101,??,,8/78XD
play,6,0,wilsc102,??,,S
play,6,0,milld102,??,,S.1-2
play,6,0,gonzm101,??,,S.2-H;1X3(99)
play,6,1,willc103,??,,99
play,6,1,archj102,??,,99
play,6,1,pechc101,??,,S
play,6,1,wortc101,??,,S/BR.1X2(99)
com,"No official putout on this play"
play,7,0,stews101,??,,E6/TH
play,7,0,amesr101,??,,NP
sub,butla101,"Art Butler",0,9,11
play,7,0,butla101,??,,S.1X3(99)
play,7,0,longt102,??,,NP
sub,packg101,"Gene Packard",1,9,1
play,7,0,longt102,??,,FC.1-2;B-1
play,7,0,beckz101,??,,99
play,7,0,bescb101,??,,99
play,7,1,packg101,??,,NP
sub,snydf101,"Frank Snyder",0,4,6
play,7,1,packg101,??,,NP
sub,milld102,"Dots Miller",0,6,3
play,7,1,packg101,??,,NP
sub,currm101,"Murphy Currie",0,9,1
play,7,1,packg101,??,,99
play,7,1,flacm101,??,,99
play,7,1,doyll101,??,,W
play,7,1,kellj102,??,,CS2(99)
play,8,0,snydf101,??,,99
play,8,0,wilsc102,??,,99
play,8,0,milld102,??,,99
play,8,1,kellj102,??,,K
play,8,1,saiev101,??,,K
play,8,1,willc103,??,,W
play,8,1,archj102,??,,99
play,9,0,gonzm101,??,,99
play,9,0,stews101,??,,S
play,9,0,currm101,??,,NP
sub,brott101,"Tony Brottem",0,9,11
play,9,0,brott101,??,,W.1-2
play,9,0,longt102,??,,99
play,9,0,beckz101,??,,K
data,er,amesr101,2
data,er,currm101,0
data,er,lavej101,2
data,er,packg101,0
id,CHN191609300
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,SLN
info,hometeam,CHN
info,date,1916/09/30
info,site,CHI11
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,ortha101
info,ump1b,harrp901
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"109,102,111,208"
info,translator,"Cliff Blau"
info,inputter,"Cliff Blau"
info,inputtime,2024/02/08 4:25PM
info,howscored,unknown
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,146
info,attendance,5100
info,wp,hendc101
info,lp,meadl101
info,save,
info,gwrbi,
start,bescb101,"Bob Bescher",0,1,7
start,bohns101,"Sam Bohne",0,2,6
start,smitj106,"Jack Smith",0,3,8
start,hornr101,"Rogers Hornsby",0,4,5
start,longt102,"Tom Long",0,5,9
start,milld102,"Dots Miller",0,6,3
start,snydf101,"Frank Snyder",0,7,2
start,betzb101,"Bruno Betzel",0,8,4
start,meadl101,"Lee Meadows",0,9,1
start,flacm101,"Max Flack",1,1,9
start,mannl101,"Les Mann",1,2,7
start,saiev101,"Vic Saier",1,3,3
start,willc103,"Cy Williams",1,4,8
start,wilsa102,"Art Wilson",1,5,2
start,yerks101,"Steve Yerkes",1,6,4
start,dealc102,"Charlie Deal",1,7,5
start,wortc101,"Chuck Wortman",1,8,6
start,packg101,"Gene Packard",1,9,1
play,1,0,bescb101,??,,W
play,1,0,bohns101,??,,S7/G.1-2
play,1,0,smitj106,??,,E4/G.2-H(NR);1-3;B-2
play,1,0,hornr101,??,,K
play,1,0,longt102,??,,S7/G.3-H;2-H(UR)
play,1,0,milld102,??,,D/89.1-H
play,1,0,snydf101,??,,63.2-3
play,1,0,betzb101,??,,63
play,1,1,flacm101,??,,7/F78
play,1,1,mannl101,??,,53
play,1,1,saiev101,??,,S8
play,1,1,willc103,??,,WP.1-2
play,1,1,willc103,??,,2/FL
play,2,0,meadl101,??,,S8/G
play,2,0,bescb101,??,,S7.1-2
play,2,0,bohns101,??,,NP
sub,hendc101,"Claude Hendrix",1,9,1
play,2,0,bohns101,??,,43.2-3;1-2
play,2,0,smitj106,??,,FC4.3XH(42);2-3;B-1
play,2,0,hornr101,??,,SB2
play,2,0,hornr101,??,,W
play,2,0,longt102,??,,9/F
play,2,1,wilsa102,??,,S8
play,2,1,yerks101,??,,13.1-2
play,2,1,dealc102,??,,53.2-3
play,2,1,wortc101,??,,43
play,3,0,milld102,??,,8/F8D
play,3,0,snydf101,??,,K/C
play,3,0,betzb101,??,,S8
play,3,0,meadl101,??,,E4/G.1-2
play,3,0,bescb101,??,,7/L
play,3,1,hendc101,??,,63
play,3,1,flacm101,??,,63
play,3,1,mannl101,??,,S1/G
play,3,1,saiev101,??,,13
play,4,0,bohns101,??,,K#
play,4,0,smitj106,??,,99
play,4,0,hornr101,??,,K#
play,4,1,willc103,??,,HP
play,4,1,wilsa102,??,,99
play,4,1,yerks101,??,,S.1-2#
play,4,1,dealc102,??,,E6.2-3;1-2#
play,4,1,wortc101,??,,K
play,4,1,hendc101,??,,99
play,5,0,longt102,??,,NP
sub,kellj102,"Joe Kelly",1,4,8
play,5,0,longt102,??,,99
play,5,0,milld102,??,,99
play,5,0,snydf101,??,,S#
play,5,0,betzb101,??,,K#
play,5,1,flacm101,??,,S
play,5,1,mannl101,??,,D.1-H
play,5,1,saiev101,??,,99/G
play,5,1,kellj102,??,,E5/TH.2-H(NR)
play,5,1,wilsa102,??,,S.1-2
play,5,1,yerks101,??,,WP.2-3;1-2#
play,5,1,yerks101,??,,W
play,5,1,dealc102,??,,D7.3-H(UR);2-H;1-H
play,5,1,wortc101,??,,NP
sub,watsm102,"Milt Watson",0,9,1
play,5,1,wortc101,??,,99
play,5,1,hendc101,??,,S.2-H(UR)
play,5,1,flacm101,??,,WP.1-3#
play,5,1,flacm101,??,,W#
play,5,1,mannl101,??,,SB2#
play,5,1,mannl101,??,,99
play,6,0,watsm102,??,,S#
play,6,0,bescb101,??,,99
play,6,0,bohns101,??,,WP.1-2#
play,6,0,bohns101,??,,W#
play,6,0,smitj106,??,,K#
play,6,0,hornr101,??,,PO1(99)#
play,6,1,saiev101,??,,K#
play,6,1,kellj102,??,,99
play,6,1,wilsa102,??,,99
play,7,0,hornr101,??,,99
play,7,0,longt102,??,,E4#
play,7,0,milld102,??,,SB2#
play,7,0,milld102,??,,SB3#
play,7,0,milld102,??,,PO3(99)#
play,7,0,milld102,??,,S#
play,7,0,snydf101,??,,K#
play,7,1,yerks101,??,,W
play,7,1,dealc102,??,,SB2#
play,7,1,dealc102,??,,99
play,7,1,wortc101,??,,99
play,7,1,hendc101,??,,HR/7.2-H
play,7,1,flacm101,??,,99
play,8,0,betzb101,??,,S#
play,8,0,watsm102,??,,99
play,8,0,bescb101,??,,S.1-3#
play,8,0,bohns101,??,,SB2#
play,8,0,bohns101,??,,99
play,8,0,smitj106,??,,HP#
play,8,0,hornr101,??,,99
play,8,1,mannl101,??,,S#
play,8,1,saiev101,??,,99
play,8,1,kellj102,??,,W.1-2#
play,8,1,wilsa102,??,,SB3;SB2#
play,8,1,wilsa102,??,,99
play,8,1,yerks101,??,,99
play,9,0,longt102,??,,99
play,9,0,milld102,??,,99
play,9,0,snydf101,??,,K
data,er,meadl101,4
data,er,watsm102,2
data,er,packg101,3
data,er,hendc101,0
id,CHN191610010
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,SLN
info,hometeam,CHN
info,site,CHI11
info,date,1916/10/01
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,harrp901
info,ump1b,ortha101
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"111,208"
info,translator,"Wayne Towmnsend"
info,inputter,"Wayne Towmnsend"
info,inputtime,2024/02/08 12:12PM
info,howscored,park
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,105
info,attendance,5000
info,wp,perrs101
info,lp,steeb103
info,save,
info,gwrbi,
start,bescb101,"Bob Bescher",0,1,7
start,bohns101,"Sam Bohne",0,2,6
start,smitj106,"Jack Smith",0,3,8
start,hornr101,"Rogers Hornsby",0,4,5
start,wilsc102,"Chief Wilson",0,5,9
start,milld102,"Dots Miller",0,6,3
start,snydf101,"Frank Snyder",0,7,2
start,betzb101,"Bruno Betzel",0,8,4
start,steeb103,"Bob Steele",0,9,1
start,flacm101,"Max Flack",1,1,9
start,mannl101,"Les Mann",1,2,7
start,saiev101,"Vic Saier",1,3,3
start,kellj102,"Joe Kelly",1,4,8
start,wilsa102,"Art Wilson",1,5,2
start,yerks101,"Steve Yerkes",1,6,4
start,dealc102,"Charlie Deal",1,7,5
start,wortc101,"Chuck Wortman",1,8,6
start,perrs101,"Scott Perry",1,9,1
play,1,0,bescb101,??,,D
play,1,0,bohns101,??,,S.2-3
play,1,0,smitj106,??,,99/SF.3-H
play,1,0,hornr101,??,,99
play,1,0,wilsc102,??,,99
play,1,1,flacm101,??,,99
play,1,1,mannl101,??,,HR/F7D
play,1,1,saiev101,??,,99
play,1,1,kellj102,??,,HR8/F8XD/IPHR
play,1,1,wilsa102,??,,99
play,2,0,milld102,??,,99
play,2,0,snydf101,??,,K
play,2,0,betzb101,??,,99
play,2,1,yerks101,??,,K
play,2,1,dealc102,??,,S
play,2,1,wortc101,??,,S.1-2
play,2,1,perrs101,??,,D.2-H;1-3
play,2,1,flacm101,??,,99/SF.3-H
play,2,1,mannl101,??,,NP
sub,amesr101,"Red Ames",0,9,1
play,2,1,mannl101,??,,99
play,3,0,amesr101,??,,99
play,3,0,bescb101,??,,S
play,3,0,bohns101,??,,S/BR.1X1(99)#
com,"No official putout on this play"
play,3,0,smitj106,??,,K
play,3,1,saiev101,??,,D
play,3,1,kellj102,??,,WP.2-3
play,3,1,kellj102,??,,WP.3-H
play,3,1,kellj102,??,,99
play,3,1,wilsa102,??,,99
play,3,1,yerks101,??,,HR/F7D
play,3,1,dealc102,??,,99
play,4,0,hornr101,??,,S
play,4,0,wilsc102,??,,99
play,4,0,milld102,??,,S.1-2
play,4,0,snydf101,??,,99
play,4,0,betzb101,??,,K
play,4,1,wortc101,??,,99
play,4,1,perrs101,??,,K
play,4,1,flacm101,??,,99
play,5,0,amesr101,??,,S
play,5,0,bescb101,??,,99/G.1-2
play,5,0,bohns101,??,,S.2-H
play,5,0,smitj106,??,,NP
sub,longt102,"Tom Long",0,3,11
play,5,0,longt102,??,,99
play,5,0,hornr101,??,,99
play,5,1,mannl101,??,,NP
sub,longt102,"Tom Long",0,3,8
play,5,1,mannl101,??,,99
play,5,1,saiev101,??,,S
play,5,1,kellj102,??,,SB2
play,5,1,kellj102,??,,W
play,5,1,wilsa102,??,,99
play,5,1,yerks101,??,,99
play,6,0,wilsc102,??,,S
play,6,0,milld102,??,,54(1)3/GDP
play,6,0,snydf101,??,,NP
sub,brott101,"Tony Brottem",0,7,11
play,6,0,brott101,??,,K
play,6,1,dealc102,??,,NP
sub,brott101,"Tony Brottem",0,7,2
play,6,1,dealc102,??,,99
play,6,1,wortc101,??,,W
play,6,1,perrs101,??,,CS2(26)#
play,6,1,perrs101,??,,99
play,7,0,betzb101,??,,W
play,7,0,amesr101,??,,NP
sub,gonzm101,"Mike Gonzalez",0,9,11
play,7,0,gonzm101,??,,99/G.1-2
play,7,0,bescb101,??,,D.2-H
play,7,0,bohns101,??,,99/SH.2-3
play,7,0,longt102,??,,99
play,7,1,flacm101,??,,NP
sub,wills101,"Steamboat Williams",0,9,1
play,7,1,flacm101,??,,99
play,7,1,mannl101,??,,D
play,7,1,saiev101,??,,S.2-3
play,7,1,kellj102,??,,CSH(262).1-2
play,7,1,kellj102,??,,99
play,8,0,hornr101,??,,99
play,8,0,wilsc102,??,,99
play,8,0,milld102,??,,99
play,8,1,wilsa102,??,,D
play,8,1,yerks101,??,,99
play,8,1,dealc102,??,,99
play,8,1,wortc101,??,,PB.2-3
play,8,1,wortc101,??,,W
play,8,1,perrs101,??,,CS2(26)
play,9,0,brott101,??,,99
play,9,0,betzb101,??,,99
play,9,0,wills101,??,,NP
sub,butla101,"Art Butler",0,9,11
play,9,0,butla101,??,,99
data,er,steeb103,4
data,er,amesr101,2
data,er,wills101,0
data,er,perrs101,3
id,SLN191608250
version,4
info,inputprogvers,"version 7RS(19) of 07/07/92"
info,visteam,PHI
info,hometeam,SLN
info,date,1916/08/25
info,site,STL05
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,klemb901
info,ump1b,emslb101
info,ump2b,(none)
info,ump3b,(none)
info,scorer,"102,208,266"
info,translator,"Jim Herdman"
info,inputter,"Jim Herdman"
info,inputtime,2024/01/21 3:43PM
info,howscored,park
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,164
info,attendance,2000
info,wp,meadl101
info,lp,demaa101
info,save,
info,gwrbi,
start,paskd101,"Dode Paskert",0,1,8
start,dugeo101,"Oscar Dugey",0,2,4
start,stocm101,"Milt Stock",0,3,5
start,cravg101,"Gavvy Cravath",0,4,9
start,whitp102,"Possum Whitted",0,5,7
start,ludef101,"Fred Luderus",0,6,3
start,bancd101,"Dave Bancroft",0,7,6
start,burne101,"Ed Burns",0,8,2
start,demaa101,"Al Demaree",0,9,1
start,longt102,"Tom Long",1,1,9
start,snydf101,"Frank Snyder",1,2,3
start,bescb101,"Bob Bescher",1,3,7
start,hornr101,"Rogers Hornsby",1,4,6
start,wilsc102,"Chief Wilson",1,5,8
start,milld102,"Dots Miller",1,6,4
start,gonzm101,"Mike Gonzalez",1,7,2
start,betzb101,"Bruno Betzel",1,8,5
start,watsm102,"Milt Watson",1,9,1
play,1,0,paskd101,??,,99
play,1,0,dugeo101,??,,K
play,1,0,stocm101,??,,S
play,1,0,cravg101,??,,SB2
play,1,0,cravg101,??,,T.2-H
play,1,0,whitp102,??,,99
play,1,1,longt102,??,,99
play,1,1,snydf101,??,,S
play,1,1,bescb101,??,,SB2
play,1,1,bescb101,??,,99
play,1,1,hornr101,??,,S.2-3
play,1,1,wilsc102,??,,99
play,2,0,ludef101,??,,S
play,2,0,bancd101,??,,W.1-2
play,2,0,burne101,??,,99
play,2,0,demaa101,??,,8(B)3(1)/LDP
play,2,1,milld102,??,,99
play,2,1,gonzm101,??,,99
play,2,1,betzb101,??,,S
play,2,1,watsm102,??,,SB2
play,2,1,watsm102,??,,99
play,3,0,paskd101,??,,S
play,3,0,dugeo101,??,,D9.1-3
play,3,0,stocm101,??,,5/F7S/SF.3-H
play,3,0,cravg101,??,,CS3(25)
play,3,0,cravg101,??,,99
play,3,1,longt102,??,,99
play,3,1,snydf101,??,,99
play,3,1,bescb101,??,,W
play,3,1,hornr101,??,,E3.1-2#
play,3,1,wilsc102,??,,99
play,4,0,whitp102,??,,T9
play,4,0,ludef101,??,,S.3-H
play,4,0,bancd101,??,,S.1-2
play,4,0,burne101,??,,99/F
play,4,0,demaa101,??,,46(1)3/GDP
play,4,1,milld102,??,,99
play,4,1,gonzm101,??,,S
play,4,1,betzb101,??,,PO1(E2).1-2#
play,4,1,betzb101,??,,99
play,4,1,watsm102,??,,K23#
play,5,0,paskd101,??,,W
play,5,0,dugeo101,??,,FLE3#
play,5,0,dugeo101,??,,99
play,5,0,stocm101,??,,99
play,5,0,cravg101,??,,K
play,5,1,longt102,??,,S
play,5,1,snydf101,??,,7/F
play,5,1,bescb101,??,,S7.1-3;B-2(TH)
play,5,1,hornr101,??,,FC5.3XH(52);2-3;B-1
play,5,1,wilsc102,??,,D8.3-H;1-H
play,5,1,milld102,??,,S9.2-H
play,5,1,gonzm101,??,,HP.1-2
play,5,1,betzb101,??,,S.2XH(99);1-2#
play,6,0,whitp102,??,,T9
play,6,0,ludef101,??,,NP
sub,amesr101,"Red Ames",1,9,1
play,6,0,ludef101,??,,3/G.3-3
play,6,0,bancd101,??,,99/SH.3-H
play,6,0,burne101,??,,S
play,6,0,demaa101,??,,K
play,6,1,amesr101,??,,K23#
play,6,1,longt102,??,,99
play,6,1,snydf101,??,,S9
play,6,1,bescb101,??,,E6/F.1-2
play,6,1,hornr101,??,,S9.2-H(UR);1-2
play,6,1,wilsc102,??,,99
play,7,0,paskd101,??,,W
play,7,0,dugeo101,??,,13.1-2
play,7,0,stocm101,??,,S9/L.2-H
play,7,0,cravg101,??,,S9.1-3;BX2(99)#
play,7,0,whitp102,??,,K
play,7,1,milld102,??,,99
play,7,1,gonzm101,??,,S
play,7,1,betzb101,??,,CS2(99)#
play,7,1,betzb101,??,,99
play,8,0,ludef101,??,,99
play,8,0,bancd101,??,,99
play,8,0,burne101,??,,99
play,8,1,amesr101,??,,NP
sub,butla101,"Art Butler",1,9,11
play,8,1,butla101,??,,99
play,8,1,longt102,??,,T9/F9D.B-H(E5)
play,8,1,snydf101,??,,S
play,8,1,bescb101,??,,9/F9D
play,8,1,hornr101,??,,FC.1-2;B-1#
play,8,1,wilsc102,??,,99
play,9,0,demaa101,??,,NP
sub,meadl101,"Lee Meadows",1,9,1
play,9,0,demaa101,??,,K
play,9,0,paskd101,??,,W
play,9,0,dugeo101,??,,99
play,9,0,stocm101,??,,99
play,9,1,milld102,??,,99
play,9,1,gonzm101,??,,99
play,9,1,betzb101,??,,99
play,10,0,cravg101,??,,S
play,10,0,whitp102,??,,99
play,10,0,ludef101,??,,99
play,10,0,bancd101,??,,99
play,10,1,meadl101,??,,NP
sub,goodw101,"Wilbur Good",0,4,9
play,10,1,meadl101,??,,K23#
play,10,1,longt102,??,,99
play,10,1,snydf101,??,,99
play,11,0,burne101,??,,99
play,11,0,demaa101,??,,99
play,11,0,paskd101,??,,W
play,11,0,dugeo101,??,,99
play,11,1,bescb101,??,,8/F8D
play,11,1,hornr101,??,,E4/TH.B-3
play,11,1,wilsc102,??,,IW
play,11,1,milld102,??,,IW.1-2
play,11,1,gonzm101,??,,S8/F8S.3-H;2-3;1-2
data,er,demaa101,5
data,er,watsm102,4
data,er,amesr101,1
data,er,meadl101,0
