id,ATL196705200
version,4
info,visteam,PIT
info,hometeam,ATL
info,site,ATL01
info,date,1967/05/20
info,number,0
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,gormt101
info,ump1b,venzt901
info,ump2b,pryop901
info,ump3b,engeb901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/04/21 9:30 PM
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,156
info,attendance,33883
info,wp,vealb101
info,lp,kelld102
info,save,mcbea101
info,gwrbi,
start,willm102,"Maury Wills",0,1,5
start,motam101,"Manny Mota",0,2,8
start,alleg101,"Gene Alley",0,3,6
start,clemr101,"Roberto Clemente",0,4,9
start,mazeb101,"Bill Mazeroski",0,5,4
start,clend101,"Donn Clendenon",0,6,3
start,pagaj101,"Jose Pagan",0,7,7
start,may-j101,"Jerry May",0,8,2
start,vealb101,"Bob Veale",0,9,1
start,woodw101,"Woody Woodward",1,1,4
start,alouf101,"Felipe Alou",1,2,8
start,aaroh101,"Hank Aaron",1,3,9
start,torrj101,"Joe Torre",1,4,3
start,cartr101,"Rico Carty",1,5,7
start,olivg101,"Gene Oliver",1,6,2
start,boyec102,"Clete Boyer",1,7,5
start,martm102,"Marty Martinez",1,8,6
start,kelld102,"Dick Kelley",1,9,1
play,1,0,willm102,??,,99
play,1,0,motam101,??,,99
play,1,0,alleg101,??,,99
play,1,1,woodw101,??,,99
play,1,1,alouf101,??,,K23#
play,1,1,aaroh101,??,,D
play,1,1,torrj101,??,,K
play,2,0,clemr101,??,,99
play,2,0,mazeb101,??,,99
play,2,0,clend101,??,,E3
play,2,0,pagaj101,??,,99
play,2,1,cartr101,??,,99
play,2,1,olivg101,??,,99
play,2,1,boyec102,??,,S
play,2,1,martm102,??,,S.1-2
play,2,1,kelld102,??,,K
play,3,0,may-j101,??,,K
play,3,0,vealb101,??,,K
play,3,0,willm102,??,,99
play,3,1,woodw101,??,,99
play,3,1,alouf101,??,,99
play,3,1,aaroh101,??,,99
play,4,0,motam101,??,,99
play,4,0,alleg101,??,,99
play,4,0,clemr101,??,,HR
play,4,0,mazeb101,??,,99
play,4,1,torrj101,??,,S
play,4,1,cartr101,??,,54(1)3/GDP
play,4,1,olivg101,??,,S.B-2(E3)
play,4,1,boyec102,??,,W
play,4,1,martm102,??,,K
play,5,0,clend101,??,,99
play,5,0,pagaj101,??,,S7.B-2(E7)
play,5,0,may-j101,??,,S8.2-H(UR)
play,5,0,vealb101,??,,99/SH.1-2
play,5,0,willm102,??,,99
play,5,1,kelld102,??,,K
play,5,1,woodw101,??,,99
play,5,1,alouf101,??,,99
play,6,0,motam101,??,,D8
play,6,0,alleg101,??,,99/SH.2-3
play,6,0,clemr101,??,,IW
play,6,0,mazeb101,??,,FC1/SH/THH.3-H;1-2
play,6,0,clend101,??,,NP
sub,ritcj101,"Jay Ritchie",1,9,1
play,6,0,clend101,??,,FC4.2-H(NR)(UR);1-2(E4/TH2);B-1
play,6,0,pagaj101,??,,6(1)/FO.2-H(E6/TH1)(NR)(UR);B-2
play,6,0,may-j101,??,,IW
play,6,0,vealb101,??,,99
play,6,1,aaroh101,??,,W
play,6,1,torrj101,??,,K
play,6,1,cartr101,??,,99
play,6,1,olivg101,??,,99
play,7,0,willm102,??,,99
play,7,0,motam101,??,,K
play,7,0,alleg101,??,,99
play,7,1,boyec102,??,,S
play,7,1,martm102,??,,W.1-2
play,7,1,ritcj101,??,,NP
sub,delam101,"Mike de la Hoz",1,9,11
play,7,1,delam101,??,,99
play,7,1,woodw101,??,,D.2-H;1-H
play,7,1,alouf101,??,,NP
sub,mcbea101,"Al McBean",0,9,1
play,7,1,alouf101,??,,99
play,7,1,aaroh101,??,,S.2-3
com,"30 minute rain delay"
play,7,1,torrj101,??,,99/G
play,8,0,clemr101,??,,NP
sub,niekp001,"Phil Niekro",1,9,1
play,8,0,clemr101,??,,NP
sub,menkd101,"Dennis Menke",1,8,6
play,8,0,clemr101,??,,D9
play,8,0,mazeb101,??,,99.2-3
play,8,0,clend101,??,,S7.3-H
play,8,0,pagaj101,??,,64(1)3/GDP
play,8,1,cartr101,??,,99
play,8,1,olivg101,??,,99
play,8,1,boyec102,??,,99
play,9,0,may-j101,??,,S
play,9,0,mcbea101,??,,99(1)/FO
play,9,0,willm102,??,,S.1-2
play,9,0,motam101,??,,99
play,9,0,alleg101,??,,S7.2XH(72);1-2
play,9,1,menkd101,??,,99
play,9,1,niekp001,??,,NP
sub,geigg101,"Gary Geiger",1,9,11
play,9,1,geigg101,??,,99
play,9,1,woodw101,??,,99
data,er,vealb101,2
data,er,mcbea101,0
data,er,kelld102,2
data,er,ritcj101,0
data,er,niekp001,1
id,PIT196709062
version,4
info,visteam,ATL
info,hometeam,PIT
info,site,PIT06
info,date,1967/09/06
info,number,2
info,starttime,0:00PM
info,daynight,night
info,usedh,false
info,umphome,secof101
info,ump1b,burkk101
info,ump2b,varge901
info,ump3b,willb901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/04/22 9:30 PM
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,unknown
info,timeofgame,141
info,attendance,6849
info,wp,mcbea101
info,lp,jarvp101
info,save,
info,gwrbi,
start,menkd101,"Denis Menke",0,1,6
start,jonem102,"Mack Jones",0,2,8
start,aaroh101,"Hank Aaron",0,3,9
start,torrj101,"Joe Torre",0,4,2
start,boyec102,"Clete Boyer",0,5,5
start,cartr101,"Rico Carty",0,6,7
start,frant101,"Tito Francona",0,7,3
start,woodw101,"Woody Woodward",0,8,4
start,jarvp101,"Pat Jarvis",0,9,1
start,aloum101,"Matty Alou",1,1,8
start,alleg101,"Gene Alley",1,2,6
start,lupla101,"Al Luplow",1,3,7
start,starw101,"Willie Stargell",1,4,3
start,motam101,"Manny Mota",1,5,9
start,mazeb101,"Bill Mazeroski",1,6,4
start,pagaj101,"Jose Pagan",1,7,5
start,sangm101,"Manny Sanguillen",1,8,2
start,mcbea101,"Al Mcbean",1,9,1
play,1,0,menkd101,??,,63
play,1,0,jonem102,??,,W
play,1,0,aaroh101,??,,K
play,1,0,torrj101,??,,64(1)/FO
play,1,1,aloum101,??,,D8
play,1,1,alleg101,??,,43/G.2-3
play,1,1,lupla101,??,,53/G.3-H
play,1,1,starw101,??,,5/P
play,2,0,boyec102,??,,7/F
play,2,0,cartr101,??,,43
play,2,0,frant101,??,,43
play,2,1,motam101,??,,FLE3
play,2,1,motam101,??,,7/F
play,2,1,mazeb101,??,,63
play,2,1,pagaj101,??,,53
play,3,0,woodw101,??,,43
play,3,0,jarvp101,??,,K
play,3,0,menkd101,??,,S
play,3,0,jonem102,??,,S.1-2
play,3,0,aaroh101,??,,9/F
play,3,1,sangm101,??,,43
play,3,1,mcbea101,??,,W
play,3,1,aloum101,??,,64(1)/FO
play,3,1,alleg101,??,,SB2
play,3,1,alleg101,??,,W
play,3,1,lupla101,??,,6/P
play,4,0,torrj101,??,,W
play,4,0,boyec102,??,,99
play,4,0,cartr101,??,,K+CS2(24)/DP
play,4,1,starw101,??,,D
play,4,1,motam101,??,,99
play,4,1,mazeb101,??,,IW
play,4,1,pagaj101,??,,53.2-3;1-2
play,4,1,sangm101,??,,IW
play,4,1,mcbea101,??,,W.3-H;2-3;1-2
play,4,1,aloum101,??,,99
play,5,0,frant101,??,,S
play,5,0,woodw101,??,,S.1-2
play,5,0,jarvp101,??,,99
play,5,0,menkd101,??,,54(1)3/GDP
play,5,1,alleg101,??,,99
play,5,1,lupla101,??,,S
play,5,1,starw101,??,,K
play,5,1,motam101,??,,99
play,6,0,jonem102,??,,99
play,6,0,aaroh101,??,,99
play,6,0,torrj101,??,,99
play,6,1,mazeb101,??,,S
play,6,1,pagaj101,??,,E6.1-2
play,6,1,sangm101,??,,99/SH.2-3;1-2
play,6,1,mcbea101,??,,T/78.3-H;2-H(UR)
play,6,1,aloum101,??,,NP
sub,kelld102,"Dick Kelley",0,9,1
play,6,1,aloum101,??,,99
play,6,1,alleg101,??,,99
play,7,0,boyec102,??,,99
play,7,0,cartr101,??,,99
play,7,0,frant101,??,,99
play,7,1,lupla101,??,,99
play,7,1,starw101,??,,S
play,7,1,motam101,??,,K
play,7,1,mazeb101,??,,99
play,8,0,woodw101,??,,NP
sub,lau-c101,"Charlie Lau",0,8,11
play,8,0,lau-c101,??,,99
play,8,0,kelld102,??,,NP
sub,geigg101,"Gary Geiger",0,9,11
play,8,0,geigg101,??,,99
play,8,0,menkd101,??,,99
play,8,1,pagaj101,??,,NP
sub,delam101,"Mike de la Hoz",0,8,4
play,8,1,pagaj101,??,,NP
sub,ritcj101,"Jay Ritchie",0,9,1
play,8,1,pagaj101,??,,S
play,8,1,sangm101,??,,64(1)3/GDP
play,8,1,mcbea101,??,,K
play,9,0,jonem102,??,,S
play,9,0,aaroh101,??,,99
play,9,0,torrj101,??,,99
play,9,0,boyec102,??,,T.1-H
play,9,0,cartr101,??,,99
data,er,jarvp101,3
data,er,kelld102,0
data,er,ritcj101,0
data,er,mcbea101,1
id,PIT196709300
version,4
info,visteam,HOU
info,hometeam,PIT
info,site,PIT06
info,date,1967/09/30
info,number,0
info,starttime,0:00PM
info,daynight,day
info,usedh,false
info,umphome,jackb901
info,ump1b,sudoe901
info,ump2b,weyel901
info,ump3b,wendh901
info,translator,"Dick Cramer"
info,inputter,"Dick Cramer"
info,inputtime,2011/04/24 3:30 PM
info,pitches,none
info,temp,0
info,winddir,unknown
info,windspeed,-1
info,fieldcond,unknown
info,precip,unknown
info,sky,night
info,timeofgame,154
info,attendance,2109
info,wp,coomd101
info,lp,shelj101
info,save,
info,gwrbi,
start,davir102,"Ron Davis",0,1,8
start,jacks102,"Sonny Jackson",0,2,6
start,staur001,"Rusty Staub",0,3,9
start,asprb101,"Bob Aspromonte",0,4,5
start,morgj001,"Joe Morgan",0,5,4
start,poina101,"Aaron Pointer",0,6,7
start,watsb001,"Bob Watson",0,7,3
start,adled101,"Dave Adlesh",0,8,2
start,wilsd102,"Don Wilson",0,9,1
start,willm102,"Maury Wills",1,1,5
start,aloum101,"Matty Alou",1,2,8
start,clemr101,"Roberto Clemente",1,3,9
start,starw101,"Willie Stargell",1,4,7
start,robeb101,"Bob Robertson",1,5,3
start,mazeb101,"Bill Mazeroski",1,6,4
start,pagaj101,"Jose Pagan",1,7,6
start,may-j101,"Jerry May",1,8,2
start,shelj101,"Jim Shellenback",1,9,1
play,1,0,davir102,??,,S
play,1,0,jacks102,??,,99
play,1,0,staur001,??,,46(1)3/GDP
play,1,1,willm102,??,,W
play,1,1,aloum101,??,,SB2
play,1,1,aloum101,??,,D.2-H
play,1,1,clemr101,??,,99
play,1,1,starw101,??,,T.2-H
play,1,1,robeb101,??,,99
play,1,1,mazeb101,??,,99
play,2,0,asprb101,??,,S
play,2,0,morgj001,??,,S.1-2
play,2,0,poina101,??,,99
play,2,0,watsb001,??,,WP.2-3;1-2
play,2,0,watsb001,??,,K
play,2,0,adled101,??,,99
play,2,1,pagaj101,??,,99
play,2,1,may-j101,??,,99
play,2,1,shelj101,??,,99
play,3,0,wilsd102,??,,K
play,3,0,davir102,??,,99
play,3,0,jacks102,??,,99
play,3,1,willm102,??,,K
play,3,1,aloum101,??,,99
play,3,1,clemr101,??,,D.B-3(E9)
play,3,1,starw101,??,,K
play,4,0,staur001,??,,W
play,4,0,asprb101,??,,W.1-2
play,4,0,morgj001,??,,46(1)3/GDP.2-3
play,4,0,poina101,??,,99
play,4,1,robeb101,??,,99
play,4,1,mazeb101,??,,99
play,4,1,pagaj101,??,,99
play,5,0,watsb001,??,,99
play,5,0,adled101,??,,S
play,5,0,wilsd102,??,,99
play,5,0,davir102,??,,S.1-2
play,5,0,jacks102,??,,99
play,5,1,may-j101,??,,99
play,5,1,shelj101,??,,S
play,5,1,willm102,??,,PB.1-2
play,5,1,willm102,??,,W
play,5,1,aloum101,??,,99/G.2-H(E4/TH)(UR);1-3
play,5,1,clemr101,??,,W
play,5,1,starw101,??,,NP
sub,coomd101,"Danny Coombs",0,9,1
play,5,1,starw101,??,,K
play,6,0,staur001,??,,E6/TH.B-2
play,6,0,asprb101,??,,99/G.2-3
play,6,0,morgj001,??,,99/G.3-H(UR)
play,6,0,poina101,??,,W
play,6,0,watsb001,??,,HR.1-H(UR);B-H(UR)
play,6,0,adled101,??,,S
play,6,0,coomd101,??,,99
play,6,1,robeb101,??,,W
play,6,1,mazeb101,??,,99
play,6,1,pagaj101,??,,99
play,6,1,may-j101,??,,99
play,7,0,davir102,??,,99
play,7,0,jacks102,??,,S
play,7,0,staur001,??,,HP.1-2
play,7,0,asprb101,??,,NP
sub,blass101,"Steve Blass",1,9,1
play,7,0,asprb101,??,,S2.2-H(E2/TH1);1-3;B-2
play,7,0,morgj001,??,,IW
play,7,0,poina101,??,,K
play,7,0,watsb001,??,,99
play,7,1,blass101,??,,NP
sub,rodga101,"Andre Rodgers",1,9,11
play,7,1,rodga101,??,,99
play,7,1,willm102,??,,K
play,7,1,aloum101,??,,99
play,8,0,adled101,??,,NP
sub,frymw101,"Woodie Fryman",1,9,1
play,8,0,adled101,??,,K
play,8,0,coomd101,??,,K
play,8,0,davir102,??,,K
play,8,1,clemr101,??,,K
play,8,1,starw101,??,,K
play,8,1,robeb101,??,,99
play,9,0,jacks102,??,,99
play,9,0,staur001,??,,99
play,9,0,asprb101,??,,99
play,9,1,mazeb101,??,,99
play,9,1,pagaj101,??,,W
play,9,1,may-j101,??,,NP
sub,clend101,"Don Clendenon",1,8,11
play,9,1,clend101,??,,99
play,9,1,frymw101,??,,NP
sub,alleg101,"Gene Alley",1,9,11
play,9,1,alleg101,??,,K
data,er,wilsd102,2
data,er,coomd101,0
data,er,shelj101,1
data,er,blass101,0
data,er,frymw101,0
